In [9]:
!pip install --user pymysql

Collecting pymysql
  Using cached https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3
WARNING: You are using pip version 19.3.1; however, version 20.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [10]:
def query_MariaDB(query):
    import pandas as pd
    import pymysql
    conn = pymysql.connect(host='52.231.51.232', port=3306,user='root', password='Bigdata123qwe!@#',database='lgl_opt_db')
    query_result = pd.read_sql(query, conn)
    return query_result

In [11]:
query = """
     SELECT customer_code,center_code,item_code,category_code,sub2_category,day_inout_date,plan_qty
     FROM dayinoutshipping 
     where customer_name='21세기인천점' AND day_inout_date='2019-11-04'
     limit 7000000,1000000;
 """

In [12]:
df0=query_MariaDB(query)  #db접근 안되네 Can't connect to MySQL server on '52.231.51.232' (timed out)

OperationalError: (2003, "Can't connect to MySQL server on '52.231.51.232' (timed out)")

In [18]:
!uptime

 06:36:29 up 31 days, 22:44,  0 users,  load average: 2.35, 2.09, 2.69

In [20]:
!pip install apyori

Defaulting to user installation because normal site-packages is not writeable
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=49cdfc4a346783d7ee700ba96ddb3ee121218d13fd5ab3b301416c00dc75af73
  Stored in directory: /home/work/.cache/pip/wheels/47/6f/0f/21a86f3679f7ed6bbe4dc6694f86818c5d85c2044bfab0f1e8
Successfully built apyori
Installing collected packages: apyori
  WARNING: The script apyori-run is installed in '/home/work/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed apyori-1.1.2
WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
share1=pd.read_csv('df_df3.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
share1.head(5)

,customer_name,center_code,item_name,category_code,sub2_category,day_inout_date
0,신정교점,20034,"""인콤)구글플레이카드_10","""10",50,2019-11-28
1,대구효성점,20007,"""인콤)구글플레이카드_10","""10",50,2019-11-25
2,칠곡북삼인평점,20007,"""인콤)구글플레이카드_10","""10",50,2019-11-26
3,대구효성점,20007,"""인콤)구글플레이카드_10","""10",50,2019-11-15
4,함양교산별빛점,20007,"""인콤)구글플레이카드_10","""10",50,2019-11-22

In [40]:
share1.groupby(['customer_name','day_inout_date']).count().sort_values(by='item_name',ascending=False)[:40].unstack().index

Index(['삼송신원점', '봉화산점', '영산대정문점', '광주중앙점', '평택청북상명점', '범천동일점', '천안백석타운점',
       '광주기독병원점', '춘해병원점', '충북대학교병원점', '경상대학교병원점', '평택청북부영점', '부산구서BNK점',
       '부산아이파크마린점', '광주광천터미널직행점', '순천향대천안병원점', '광주광천터미널고속점', '부산범천태명점',
       '여수밤바다점', '부산기장연화리점', '인천소래점', '천안터미널점', '부산서면일번가점', '여수터미널점', '이천장록점',
       '속초롯데리조트점', '울산청량쌍용점', '광주양산지구점', '부산서면점'],
      dtype='object', name='customer_name')

In [5]:
draft=pd.DataFrame((share1['customer_name']).value_counts()).reset_index()

In [6]:
customer=list(draft['index'])
date=list(set(share1['day_inout_date'].values))

In [184]:
pd.concat([pd.DataFrame(share1[(share1['day_inout_date']=='2019-11-28')&(share1['customer_name']=='영산대정문점')]['item_name']),pd.DataFrame(share1[(share1['day_inout_date']=='2019-11-25')&(share1['customer_name']=='영산대정문점')]['item_name'])],axis=1)

Empty DataFrame
Columns: [item_name, item_name]
Index: []

In [7]:
cns=[]
for i in range(27):
    for j in range(24):
        cns.append(pd.DataFrame(data=pd.Series(share1[(share1['day_inout_date']==date[j])&(share1['customer_name']==draft['index'][i])]['item_name'])).rename(columns={'item_name':draft['index'][i]}))

In [20]:
cns[11]

Empty DataFrame
Columns: [영산대정문점]
Index: []

In [41]:
def run(data):
    return list(share1[(share1['day_inout_date']=='2019-11-16')&(share1['customer_name']==data['customer'])]['item_name'].values)

In [42]:
data['item']=data.apply(run,axis=1)

KeyboardInterrupt:

In [98]:
data

,0,1,2,3,4,5,6,7,8,9,...,19109,19110,19111,19112,19113,19114,19115,19116,19117,19118
영산대정문점,매콤넓적다리,마일드넓적다리,허브안심꼬치,매콤순살꼬치,순살꼬치,롯데푸드)컵얼음(레귤러),롯데푸드)컵얼음(라지),치즈빅도그,소떡소떡,통살새우꼬치,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
천안터미널점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경상대학교병원점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
평택청북부영점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
충북대학교병원점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
순천향대천안병원점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
평택국제대기숙사점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
음성유통단지점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
천안백석타운점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,롯데)비빔참치마요삼각김밥,롯데)유부초밥4입,모심)스팸치즈김밥,롯데)통햄김치짜글이,롯데)불고기유부삼각,삼립)소시지로제파스타,롯데)케이준치킨&햄샌드,삼립)트리플치즈불고기피자200g,삼립)트리플치즈페퍼로니피자180,매콤통가슴살치킨

In [ ]:
sds=[]
for i in range(9043):
    sds.append(pd.DataFrame(pd.Series(df.iloc[i,1]),columns=[df.iloc[i,0]]))
import pandas as pd
draft=pd.concat(sds, ignore_index= True,axis=1)
for i in range(9043):
    draft=draft.rename(columns={i:df['customer'][i]})
    data=draft.transpose()
    
observations = []
for i in range(len(data)):
    observations.append([str(data.values[i,j]) for j in range(1273)])
from apyori import apriori
associations = apriori(observations, min_length = 2, min_support = 0.2, min_confidence = 0.2, min_lift = 3)
associations = list(associations)

In [ ]:
draft=pd.concat(cns, ignore_index= True,axis=1)

In [ ]:
draft.dropna(how='all',axis=1)

In [ ]:
draft

In [26]:
18+28+31+10+16

103

In [30]:
150*103

15450