## 1. import , read
Pandas 패키지를 Import 하고 실습 데이터 파일(Ecommerce Purchases)을 read 하세요.  
그 다음, Pandas Dataframe 형식으로 ecom 이라는 변수에 저장해보세요.

In [1]:
import pandas as pd
ecom=pd.read_csv('Ecommerce Purchases')

## DataFrame 의 앞부분과 뒷부분 확인하여, 데이터 생긴 거 미리보기

In [3]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

## .info()
몇 개의 컬럼과 행이 있는지 확인해보기

In [4]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

## .mean()
평균 구매 가격(Purchase Price) 확인하기

In [75]:
import numpy as np
ecom['Purchase Price'].mean()

50.34730200000025


### 문제1. 구매 가격(Purchase Price)의 최대값, 최소값 구하기
### 문제2. (문제1을 )반올림하여 구하기

In [77]:
print(ecom['Purchase Price'].max(),
ecom['Purchase Price'].min())

99.99 0.0

## .count()
웹사이트에 얼마나 많은 사람들이 언어(Language)를 English로 하는 지 알아보기

### 문제1. : # 'Language' 컬럼값이 'en' 인 데이터의 신용카드(Credit Card) 숫자 세기

In [79]:
ecom[ecom['Language']=='en']['Credit Card'].count()

1098

### 문제2. : # 직업('Job')이 변호사('Lawyer')인 사람수 구하기

In [22]:
ecom[ecom['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

## .value_counts()
### 문제1. 얼마나 많은 사람들이 오전(AM)과 오후(PM)에 구매를 하는 지 알아보기

In [83]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

### 문제2. 가장 흔한 직업 상위 5개 알아보기

In [53]:
ecom['Job'].value_counts()[:5]

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: Job, dtype: int64

### 문제3. 가장 흔한 직업 하위 5개 알아보기

In [86]:
ecom['Job'].value_counts().tail(5)

Prison officer                 7
Actuary                        6
Editor, film/video             6
Investment analyst             5
Information systems manager    5
Name: Job, dtype: int64

## specific variable values

### 문제1. '90 WT' 지역에서 구매된 거래 금액 확인하기

In [63]:
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

### 문제2. 신용카드번호 4926535242672853 이용자의 이메일 주소 찾기

In [64]:
ecom[ecom['Credit Card']== 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

## 'And' or 'Or'
### 문제1. 얼마나 많은 사람들이 American Express 카드로 95달러 초과로 결제하는 지 알아보기

In [74]:
(ecom[ecom['CC Provider']=='American Express']['Purchase Price']>95).count()

849

### 문제2. 얼마나 많은 사람들이 95달러 초과로 결제하거나 10달러 미만으로 구매하는 지 알아보기

In [92]:
( not 10<ecom[ecom['CC Provider']=='American Express']['Purchase Price']<95).count()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## .apply() & Lambda
얼마나 많은 신용카드가 2025년에 만료되는 지 알아보기

## 문제1. 얼마나 많은 신용카드가 2025년에 만료되는 지 알아보기

## Lambda & .split
### 문제1. 가장 인기있는 이메일 제공자/호스트(e.g. gmail.com, yahoo.com, etc...) 상위 5 찾아내기