In [1]:
d1 = "The cat sat on my face I hate a cat"
d2 = "The dog sat on my bed I love a dog"

In [2]:
bowA=d1.split()
bow2=d2.split()

In [4]:
wordset=set(bowA).union(set(bow2))

In [7]:
A=dict.fromkeys(wordset,0)
B=dict.fromkeys(wordset,0)

In [9]:
for word in bowA:
    A[word]+=1
for word in bow2:
    B[word]+=1

In [10]:
import pandas as pd
pd.DataFrame([A,B])

   I  The  a  bed  cat  dog  face  hate  love  my  on  sat
0  1    1  1    0    2    0     1     1     0   1   1    1
1  1    1  1    1    0    2     0     0     1   1   1    1

In [11]:
def func(worddict,bow):
    tfdict={}
    bowcount=len(bow)
    for word,count in worddict.items():
        tfdict[word]=count/float(bowcount)
    return tfdict
print(func(A,bowA),func(B,bow2))

{'a': 0.1, 'sat': 0.1, 'bed': 0.0, 'hate': 0.1, 'I': 0.1, 'dog': 0.0, 'face': 0.1, 'cat': 0.2, 'love': 0.0, 'my': 0.1, 'on': 0.1, 'The': 0.1} {'a': 0.1, 'sat': 0.1, 'bed': 0.1, 'hate': 0.0, 'I': 0.1, 'dog': 0.2, 'face': 0.0, 'cat': 0.0, 'love': 0.1, 'my': 0.1, 'on': 0.1, 'The': 0.1}

In [20]:
def func2(doclist):
    import math
    idfdict={}
    n=len(doclist)
    
    idfdict=dict.fromkeys(doclist[0].keys(),0)
    for doc in doclist:
        for word,val in doc.items():
            if val>0:
                idfdict[word]+=1
                
    for word,val in idfdict.items():
        idfdict[word]=math.log10(n/float(val))
        
    return idfdict

print(func2([A,B]))

{'a': 0.0, 'sat': 0.0, 'bed': 0.3010299956639812, 'hate': 0.3010299956639812, 'I': 0.0, 'dog': 0.3010299956639812, 'face': 0.3010299956639812, 'cat': 0.3010299956639812, 'love': 0.3010299956639812, 'my': 0.0, 'on': 0.0, 'The': 0.0}

In [21]:
from math import log10

In [22]:
def f(t,d):
    return d.count()
def ff(t,d):
    return 0.5+0.5*f(t,d)/max([f(w,d) for w in d])
def fff(t,d):
    numerator=len(D)
    denominator=1+len([True for d in D if t in d])
    return log10(numerator/denominator)
    
def ffff(t,d,dd):
    print(t)
    print(f(t,d))
    print(ff(t,d))

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict

In [28]:
document_ls = [d1, d2]
vectorizer=TfidfVectorizer()
tf_idf=vectorizer.fit_transform(document_ls)
word2id=defaultdict(lambda :0)
for idx,feature in enumerate(vectorizer.get_feature_names()):
    word2id[feature]=idx

In [29]:
pd.DataFrame(tf_idf.todense(),columns=vectorizer.get_feature_names())

,bed,cat,dog,face,hate,love,my,on,sat,the
0,0.000000,0.706006,0.000000,0.353003,0.353003,0.000000,0.251164,0.251164,0.251164,0.251164
1,0.353003,0.000000,0.706006,0.000000,0.000000,0.353003,0.251164,0.251164,0.251164,0.251164

In [37]:
a=pd.read_csv('(완료)연합뉴스2005-2017_ngram.csv')

In [38]:
len(a)

24929

In [36]:
a.tail()

,Unnamed: 0,date,press,title,content,ngram
140973,140973,2019-07-12,연합인포맥스,"[도쿄환시] 달러, 美금리 인하 기대에 하락",윤영숙 기자 = 달러화가 미국 연방준비제도(연준·Fed)의 금리 인하 기대에 주요...,"fed/NNG;금리/NNG;인하/NNG;기대/NNG;크/VV,완화/NNG;않/VX;..."
140974,140974,2019-07-12,연합인포맥스,"中매체 ""美연준 금리인하 저울질…중국도 인하 배제 못 해""",정선미 기자 = 제롬 파월 연방준비제도(Fed·연준) 의장이 이르면 이달 말 기준...,"fed/NNG;금리/NNG;인하/NNG,이례적/VAX;금리/NNG;인하/NNG,잠재..."
140975,140975,2019-07-12,연합인포맥스,[표] 중국 상하이은행간 금리-shibor(12일),※다음은 12일 오전 11시(상하이 시간) 고시된 중국 상하이 은행간 금리표(shi...,NaN
140976,140976,2019-07-12,연합인포맥스,국채선물 하락 출발…美 물가 호조에 금리상승,전소영 기자 = 국채선물이 하락 출발했다. 간밤 미국 국채금리가 상승한 부담을 받...,"미/NNG;fed/NNG;비둘기/NNG,소비자/NNG;물가/NNG;호조/NNG,국채..."
140977,140977,2019-07-12,연합인포맥스,"리치먼드 연은 총재 ""7월 FOMC까지 시간 많다…경제 상당히 긍정적""(상보)",오진우 특파원 = 토마스 바킨 리치먼드 연방준비은행(연은) 총재는 경제 전망의 위...,"fed/NNG;금리/NNG;인하/NNG,경제/NNG;전망/NNG;위험/NNG,금리/..."