In [2]:
import pandas as pd
#-*- coding: utf-8 -*-
time= pd.read_csv('시간별유동',index_col=0)
ppl=pd.read_csv('성별유동',index_col=0)

In [66]:
ppl=pd.read_csv('성별유동',index_col=0)

In [3]:
time.reset_index(level=0, inplace=True)

In [67]:
ppl.reset_index(level=0, inplace=True)

In [68]:
for i in range(2,18):
    ppl.columns.values[i]=ppl.columns.values[i].replace("MAN_FLOW_POP_CNT",'남_유동')
        
for i in range(18,33):
    ppl.columns.values[i]=ppl.columns.values[i].replace("WMAN_FLOW_POP_CNT",'여_유동')

In [5]:
def gather( df, key, value, cols ):
    id_vars = [ col for col in df.columns if col not in cols ]
    id_values = cols
    var_name = key
    value_name = value
    return pd.melt( df, id_vars, id_values, var_name, value_name )

In [6]:
time=gather( time, 'hour', 'population', ['TMST_00','TMST_01','TMST_02','TMST_03','TMST_04','TMST_05','TMST_06','TMST_07','TMST_08','TMST_09','TMST_10','TMST_11','TMST_12','TMST_13','TMST_14','TMST_15','TMST_16','TMST_17','TMST_18','TMST_19','TMST_20','TMST_21','TMST_22','TMST_23'] )

In [7]:
time['hour']=time['hour'].apply(lambda x : str(x).replace('TMST_',''))

In [8]:
time=pd.DataFrame(time,columns=['STD_YMD','hour','HDONG_CD','HDONG_NM','population'])

In [9]:
time1=time.copy()

In [10]:
time1

         STD_YMD hour    HDONG_CD     HDONG_NM  population
0       20180401   00  1111051500        청운효자동      609.11
1       20180401   00  1111053000          사직동     1904.32
2       20180401   00  1111054000          삼청동      216.30
3       20180401   00  1111055000          부암동     1300.61
4       20180401   00  1111056000          평창동     2523.88
5       20180401   00  1111057000          무악동      332.06
6       20180401   00  1111058000          교남동      528.17
7       20180401   00  1111060000          가회동      258.39
8       20180401   00  1111061500  종로1.2.3.4가동     4078.65
9       20180401   00  1111063000      종로5.6가동     1350.90
10      20180401   00  1111064000          이화동      741.76
11      20180401   00  1111065000          혜화동     1482.43
12      20180401   00  1111067000         창신1동      671.65
13      20180401   00  1111068000         창신2동      178.24
14      20180401   00  1111069000         창신3동      174.81
15      20180401   00  1111070000         숭인1동      401.32
16      20180401   00  1111071000         숭인2동     1075.26
17      20180401   00  1135056000         월계1동     1662.00
18      20180401   00  1135057000         월계2동     1326.73
19      20180401   00  1135058000         월계3동     2242.36
20      20180401   00  1135059500         공릉1동     4132.87
21      20180401   00  1135060000         공릉2동     3039.81
22      20180401   00  1135061100         하계1동     1559.78
23      20180401   00  1135061200         하계2동     1395.21
24      20180401   00  1135061900         중계본동      805.00
25      20180401   00  1135062100         중계1동      895.32
26      20180401   00  1135062400         중계4동      867.75
27      20180401   00  1135062500       중계2.3동     1834.02
28      20180401   00  1135063000         상계1동     2339.24
29      20180401   00  1135064000         상계2동     1625.41
...          ...  ...         ...          ...         ...
315330  20190331   23  1111058000          교남동      468.46
315331  20190331   23  1111060000          가회동      202.12
315332  20190331   23  1111061500  종로1.2.3.4가동     3965.25
315333  20190331   23  1111063000      종로5.6가동     1444.99
315334  20190331   23  1111064000          이화동     1144.47
315335  20190331   23  1111065000          혜화동     1291.12
315336  20190331   23  1111067000         창신1동     1391.95
315337  20190331   23  1111068000         창신2동      310.75
315338  20190331   23  1111069000         창신3동      206.20
315339  20190331   23  1111070000         숭인1동      400.27
315340  20190331   23  1111071000         숭인2동     1368.08
315341  20190331   23  1135056000         월계1동     1117.32
315342  20190331   23  1135057000         월계2동     1026.13
315343  20190331   23  1135058000         월계3동     1778.10
315344  20190331   23  1135059500         공릉1동     3380.14
315345  20190331   23  1135060000         공릉2동     3639.81
315346  20190331   23  1135061100         하계1동     1282.04
315347  20190331   23  1135061200         하계2동     1001.04
315348  20190331   23  1135061900         중계본동      970.69
315349  20190331   23  1135062100         중계1동      808.24
315350  20190331   23  1135062400         중계4동      910.48
315351  20190331   23  1135062500       중계2.3동     1316.67
315352  20190331   23  1135063000         상계1동     1960.14
315353  20190331   23  1135064000         상계2동     1237.41
315354  20190331   23  1135066500       상계3.4동     1157.21
315355  20190331   23  1135067000         상계5동      756.55
315356  20190331   23  1135069500       상계6.7동     2427.55
315357  20190331   23  1135070000         상계8동     1158.52
315358  20190331   23  1135071000         상계9동      584.42
315359  20190331   23  1135072000        상계10동      696.01

[315360 rows x 5 columns]

In [11]:
time.groupby(['STD_YMD',"hour", "HDONG_NM"]).mean().sort_values('population',ascending=False)

                             HDONG_CD  population
STD_YMD  hour HDONG_NM
20181105 12   종로1.2.3.4가동  1111061500   128551.69
         13   종로1.2.3.4가동  1111061500   117076.92
20180510 08   종로1.2.3.4가동  1111061500    91540.99
20180515 08   종로1.2.3.4가동  1111061500    91422.59
20180427 08   종로1.2.3.4가동  1111061500    90452.50
20180529 08   종로1.2.3.4가동  1111061500    90036.19
20180511 08   종로1.2.3.4가동  1111061500    90015.06
20180509 08   종로1.2.3.4가동  1111061500    89863.82
20180523 08   종로1.2.3.4가동  1111061500    89413.84
20180405 08   종로1.2.3.4가동  1111061500    89344.68
20180417 08   종로1.2.3.4가동  1111061500    89327.04
20180418 08   종로1.2.3.4가동  1111061500    89238.37
20180514 08   종로1.2.3.4가동  1111061500    89237.26
20180712 08   종로1.2.3.4가동  1111061500    89130.66
20180518 08   종로1.2.3.4가동  1111061500    89113.16
20180426 08   종로1.2.3.4가동  1111061500    89065.79
20180502 08   종로1.2.3.4가동  1111061500    89036.42
20180508 08   종로1.2.3.4가동  1111061500    88980.48
20180528 08   종로1.2.3.4가동  1111061500    88753.99
20180425 08   종로1.2.3.4가동  1111061500    88572.10
20180504 08   종로1.2.3.4가동  1111061500    88492.35
20180416 08   종로1.2.3.4가동  1111061500    88398.67
20180705 08   종로1.2.3.4가동  1111061500    88397.46
20180531 08   종로1.2.3.4가동  1111061500    87752.71
20180530 08   종로1.2.3.4가동  1111061500    87697.53
20180419 08   종로1.2.3.4가동  1111061500    87674.50
20180403 08   종로1.2.3.4가동  1111061500    87622.50
20180409 08   종로1.2.3.4가동  1111061500    87592.82
20180517 08   종로1.2.3.4가동  1111061500    87439.04
20180410 08   종로1.2.3.4가동  1111061500    87399.27
...                               ...         ...
20190110 16   상계5동         1135067000        0.00
              상계3.4동       1135066500        0.00
              종로5.6가동      1111063000        0.00
              중계1동         1135062100        0.00
              중계2.3동       1135062500        0.00
              중계4동         1135062400        0.00
         17   상계1동         1135063000        0.00
              상계10동        1135072000        0.00
              삼청동          1111054000        0.00
              사직동          1111053000        0.00
              부암동          1111055000        0.00
              무악동          1111057000        0.00
20190125 06   중계본동         1135061900        0.00
20190110 17   교남동          1111058000        0.00
              공릉2동         1135060000        0.00
              공릉1동         1135059500        0.00
              가회동          1111060000        0.00
         16   혜화동          1111065000        0.00
              하계2동         1135061200        0.00
              하계1동         1135061100        0.00
              평창동          1111056000        0.00
20190125 06   창신1동         1111067000        0.00
20190110 16   청운효자동        1111051500        0.00
              창신3동         1111069000        0.00
              창신2동         1111068000        0.00
              창신1동         1111067000        0.00
20190125 06   창신2동         1111068000        0.00
20190110 16   중계본동         1135061900        0.00
20190125 06   창신3동         1111069000        0.00
              상계10동        1135072000        0.00

[315360 rows x 2 columns]

In [65]:
ppl.columns.values[17]

'MAN_FLOW_POP_CNT_70U'

In [69]:
ppl=gather(ppl,'성연령','population',['남_유동_0004','남_유동_0509','남_유동_1014','남_유동_1519','남_유동_2024','남_유동_2529','남_유동_3034','남_유동_3539','남_유동_4044','남_유동_4549','남_유동_5054','남_유동_5559','남_유동_6064','남_유동_6569','남_유동_70U','여_유동_0004','여_유동_0509','여_유동_1014','여_유동_1519','여_유동_2024','여_유동_2529','여_유동_3034','여_유동_3539','여_유동_4044','여_유동_4549','여_유동_5054','여_유동_5559','여_유동_6064','여_유동_6569','여_유동_70U'])

In [70]:
ppl[]

         STD_YMD    HDONG_CD     HDONG_NM        성연령  population
0       20180401  1135070000         상계8동  남_유동_0004        0.00
1       20180401  1135057000         월계2동  남_유동_0004        0.00
2       20180401  1135058000         월계3동  남_유동_0004        0.00
3       20180401  1135059500         공릉1동  남_유동_0004        0.00
4       20180401  1135060000         공릉2동  남_유동_0004        0.00
5       20180401  1135061100         하계1동  남_유동_0004        0.00
6       20180401  1135061200         하계2동  남_유동_0004        0.00
7       20180401  1135061900         중계본동  남_유동_0004        0.00
8       20180401  1135062100         중계1동  남_유동_0004        0.00
9       20180401  1135062400         중계4동  남_유동_0004        0.00
10      20180401  1135062500       중계2.3동  남_유동_0004        0.00
11      20180401  1135063000         상계1동  남_유동_0004        0.00
12      20180401  1135064000         상계2동  남_유동_0004        0.00
13      20180401  1135066500       상계3.4동  남_유동_0004        0.00
14      20180401  1135067000         상계5동  남_유동_0004        0.00
15      20180401  1135069500       상계6.7동  남_유동_0004        0.00
16      20180401  1135056000         월계1동  남_유동_0004        0.00
17      20180401  1111071000         숭인2동  남_유동_0004        0.02
18      20180401  1135071000         상계9동  남_유동_0004        0.00
19      20180401  1111069000         창신3동  남_유동_0004        0.00
20      20180401  1135072000        상계10동  남_유동_0004        0.01
21      20180401  1111051500        청운효자동  남_유동_0004        0.05
22      20180401  1111053000          사직동  남_유동_0004        1.25
23      20180401  1111054000          삼청동  남_유동_0004        0.00
24      20180401  1111056000          평창동  남_유동_0004        0.00
25      20180401  1111057000          무악동  남_유동_0004        0.18
26      20180401  1111058000          교남동  남_유동_0004        0.10
27      20180401  1111055000          부암동  남_유동_0004        0.00
28      20180401  1111061500  종로1.2.3.4가동  남_유동_0004        0.00
29      20180401  1111063000      종로5.6가동  남_유동_0004        0.00
...          ...         ...          ...        ...         ...
394170  20190331  1135062400         중계4동   여_유동_70U     1215.73
394171  20190331  1135071000         상계9동   여_유동_70U      649.22
394172  20190331  1135063000         상계1동   여_유동_70U     3179.71
394173  20190331  1135064000         상계2동   여_유동_70U     2192.15
394174  20190331  1135066500       상계3.4동   여_유동_70U     1993.12
394175  20190331  1135067000         상계5동   여_유동_70U      960.11
394176  20190331  1135069500       상계6.7동   여_유동_70U     3614.09
394177  20190331  1135070000         상계8동   여_유동_70U     1263.01
394178  20190331  1135058000         월계3동   여_유동_70U     2803.82
394179  20190331  1135062500       중계2.3동   여_유동_70U     2086.89
394180  20190331  1135057000         월계2동   여_유동_70U     1525.76
394181  20190331  1111063000      종로5.6가동   여_유동_70U     3208.02
394182  20190331  1111071000         숭인2동   여_유동_70U     2915.14
394183  20190331  1111051500        청운효자동   여_유동_70U     1102.50
394184  20190331  1111053000          사직동   여_유동_70U     3458.01
394185  20190331  1111054000          삼청동   여_유동_70U      678.76
394186  20190331  1111055000          부암동   여_유동_70U     1557.51
394187  20190331  1111056000          평창동   여_유동_70U     3840.38
394188  20190331  1111057000          무악동   여_유동_70U      662.63
394189  20190331  1111058000          교남동   여_유동_70U      803.12
394190  20190331  1111060000          가회동   여_유동_70U      462.16
394191  20190331  1111061500  종로1.2.3.4가동   여_유동_70U    11234.28
394192  20190331  1111064000          이화동   여_유동_70U     1730.65
394193  20190331  1111065000          혜화동   여_유동_70U     1577.66
394194  20190331  1111067000         창신1동   여_유동_70U     1861.16
394195  20190331  1111068000         창신2동   여_유동_70U      709.69
394196  20190331  1111069000         창신3동   여_유동_70U      294.35
394197  20190331  1111070000         숭인1동   여_유동_70U      913.94
394198  20190331  1135056000         월계1동   여_유동_70U     2169.15
394199  20190331  1135072000        상계10동   여_유동_70U      794.73

[394200 rows x 5 columns]

In [25]:
퓹=ppl.성연령.str.split('_').apply(lambda x: pd.Series(x))

KeyboardInterrupt:

In [ ]:
퓹

In [21]:
ppl.head()

    STD_YMD    HDONG_CD HDONG_NM  남_유동_4044  남_유동_70U        성연령  population
0  20180401  1135070000     상계8동    2652.86   1565.27  남_유동_0004         0.0
1  20180401  1135057000     월계2동    3131.64   2687.51  남_유동_0004         0.0
2  20180401  1135058000     월계3동    6027.42   3779.10  남_유동_0004         0.0
3  20180401  1135059500     공릉1동    9236.12   5686.36  남_유동_0004         0.0
4  20180401  1135060000     공릉2동    8509.74   4560.60  남_유동_0004         0.0

In [103]:
ppl['성'][197098:197101]

197098    남
197099    남
197100    여
Name: 성, dtype: object

In [99]:
ppl['성']='남'

In [101]:
ppl['성'][197100:]='여'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [114]:
ppl['성연령']=ppl['성연령'].apply(lambda x: x.split('유동_',1)[1])

In [112]:
ppl['성연령'][0].split('유동_',1)[1]

'0004'

In [111]:
str(ppl['성연령'][0]).split('유동_',1)[1]

'0004'

In [117]:
ppl=ppl.rename(columns={'성연령':'연령'})

In [125]:
ppl.sort_values('population',ascending=False).head(200)

         STD_YMD    HDONG_CD     HDONG_NM    연령  population  성
126136  20181105  1111061500  종로1.2.3.4가동  4549    60993.22  남
99856   20181105  1111061500  종로1.2.3.4가동  3539    60141.11  남
119483  20180504  1111061500  종로1.2.3.4가동  4549    57982.83  남
119725  20180511  1111061500  종로1.2.3.4가동  4549    56865.33  남
93203   20180504  1111061500  종로1.2.3.4가동  3539    56821.47  남
119699  20180510  1111061500  종로1.2.3.4가동  4549    56638.39  남
119186  20180426  1111061500  종로1.2.3.4가동  4549    56209.32  남
121967  20180712  1111061500  종로1.2.3.4가동  4549    55888.86  남
119150  20180425  1111061500  종로1.2.3.4가동  4549    55755.57  남
119222  20180427  1111061500  종로1.2.3.4가동  4549    55714.97  남
119870  20180515  1111061500  종로1.2.3.4가동  4549    55427.34  남
119652  20180509  1111061500  종로1.2.3.4가동  4549    55334.97  남
118871  20180417  1111061500  종로1.2.3.4가동  4549    55206.55  남
118683  20180412  1111061500  종로1.2.3.4가동  4549    55160.06  남
112996  20181105  1111061500  종로1.2.3.4가동  4044    55042.42  남
119438  20180503  1111061500  종로1.2.3.4가동  4549    55033.78  남
119980  20180518  1111061500  종로1.2.3.4가동  4549    55021.51  남
120455  20180531  1111061500  종로1.2.3.4가동  4549    54882.27  남
118612  20180410  1111061500  종로1.2.3.4가동  4549    54849.74  남
92942   20180427  1111061500  종로1.2.3.4가동  3539    54757.68  남
93445   20180511  1111061500  종로1.2.3.4가동  3539    54677.92  남
118358  20180403  1111061500  종로1.2.3.4가동  4549    54625.80  남
95687   20180712  1111061500  종로1.2.3.4가동  3539    54559.83  남
119835  20180514  1111061500  종로1.2.3.4가동  4549    54552.31  남
120474  20180601  1111061500  종로1.2.3.4가동  4549    54482.21  남
118907  20180418  1111061500  종로1.2.3.4가동  4549    54480.50  남
119114  20180424  1111061500  종로1.2.3.4가동  4549    54471.04  남
93419   20180510  1111061500  종로1.2.3.4가동  3539    54461.64  남
120203  20180524  1111061500  종로1.2.3.4가동  4549    54416.25  남
118934  20180419  1111061500  종로1.2.3.4가동  4549    54373.29  남
...          ...         ...          ...   ...         ... ..
94850   20180619  1111061500  종로1.2.3.4가동  3539    49861.47  남
125927  20181030  1111061500  종로1.2.3.4가동  4549    49845.87  남
121600  20180702  1111061500  종로1.2.3.4가동  4549    49805.09  남
124991  20181004  1111061500  종로1.2.3.4가동  4549    49784.38  남
94392   20180607  1111061500  종로1.2.3.4가동  3539    49775.28  남
94310   20180604  1111061500  종로1.2.3.4가동  3539    49753.13  남
97622   20180904  1111061500  종로1.2.3.4가동  3539    49737.46  남
108827  20180712  1111061500  종로1.2.3.4가동  4044    49712.86  남
98161   20180919  1111061500  종로1.2.3.4가동  3539    49687.16  남
106010  20180425  1111061500  종로1.2.3.4가동  4044    49668.22  남
119339  20180430  1111061500  종로1.2.3.4가동  4549    49621.80  남
125631  20181022  1111061500  종로1.2.3.4가동  4549    49621.16  남
95867   20180717  1111061500  종로1.2.3.4가동  3539    49611.48  남
106512  20180509  1111061500  종로1.2.3.4가동  4044    49513.59  남
98198   20180920  1111061500  종로1.2.3.4가동  3539    49503.95  남
99420   20181024  1111061500  종로1.2.3.4가동  3539    49460.11  남
107063  20180524  1111061500  종로1.2.3.4가동  4044    49445.43  남
125963  20181031  1111061500  종로1.2.3.4가동  4549    49445.14  남
121859  20180709  1111061500  종로1.2.3.4가동  4549    49426.64  남
107279  20180530  1111061500  종로1.2.3.4가동  4044    49411.05  남
97481   20180831  1111061500  종로1.2.3.4가동  3539    49341.50  남
124775  20180928  1111061500  종로1.2.3.4가동  4549    49340.63  남
123722  20180830  1111061500  종로1.2.3.4가동  4549    49301.36  남
106046  20180426  1111061500  종로1.2.3.4가동  4044    49264.70  남
122966  20180809  1111061500  종로1.2.3.4가동  4549    49264.59  남
97946   20180913  1111061500  종로1.2.3.4가동  3539    49256.00  남
94679   20180614  1111061500  종로1.2.3.4가동  3539    49218.68  남
122363  20180723  1111061500  종로1.2.3.4가동  4549    49216.63  남
96112   20180724  1111061500  종로1.2.3.4가동  3539    49150.31  남
106695  20180514  1111061500  종로1.2.3.4가동  4044    49129.71  남

[200 rows x 6 columns]

In [127]:
ppl.head()

    STD_YMD    HDONG_CD HDONG_NM    연령  population  성
0  20180401  1135070000     상계8동  0004         0.0  남
1  20180401  1135057000     월계2동  0004         0.0  남
2  20180401  1135058000     월계3동  0004         0.0  남
3  20180401  1135059500     공릉1동  0004         0.0  남
4  20180401  1135060000     공릉2동  0004         0.0  남

In [128]:
time.head()

    STD_YMD hour    HDONG_CD HDONG_NM  population
0  20180401   00  1111051500    청운효자동      609.11
1  20180401   00  1111053000      사직동     1904.32
2  20180401   00  1111054000      삼청동      216.30
3  20180401   00  1111055000      부암동     1300.61
4  20180401   00  1111056000      평창동     2523.88

In [138]:
ppl['연령'][800:900]

800    0004
801    0004
802    0004
803    0004
804    0004
805    0004
806    0004
807    0004
808    0004
809    0004
810    0004
811    0004
812    0004
813    0004
814    0004
815    0004
816    0004
817    0004
818    0004
819    0004
820    0004
821    0004
822    0004
823    0004
824    0004
825    0004
826    0004
827    0004
828    0004
829    0004
       ...
870    0004
871    0004
872    0004
873    0004
874    0004
875    0004
876    0004
877    0004
878    0004
879    0004
880    0004
881    0004
882    0004
883    0004
884    0004
885    0004
886    0004
887    0004
888    0004
889    0004
890    0004
891    0004
892    0004
893    0004
894    0004
895    0004
896    0004
897    0004
898    0004
899    0004
Name: 연령, Length: 100, dtype: object

In [147]:
ppl.groupby(['STD_YMD',"연령", "HDONG_NM"]).().sort_values('population',ascending=False)

         STD_YMD    HDONG_CD     HDONG_NM    연령  population  성
0       20180401  1135070000         상계8동  0004        0.00  남
1       20180401  1135057000         월계2동  0004        0.00  남
2       20180401  1135058000         월계3동  0004        0.00  남
3       20180401  1135059500         공릉1동  0004        0.00  남
4       20180401  1135060000         공릉2동  0004        0.00  남
5       20180401  1135061100         하계1동  0004        0.00  남
6       20180401  1135061200         하계2동  0004        0.00  남
7       20180401  1135061900         중계본동  0004        0.00  남
8       20180401  1135062100         중계1동  0004        0.00  남
9       20180401  1135062400         중계4동  0004        0.00  남
10      20180401  1135062500       중계2.3동  0004        0.00  남
11      20180401  1135063000         상계1동  0004        0.00  남
12      20180401  1135064000         상계2동  0004        0.00  남
13      20180401  1135066500       상계3.4동  0004        0.00  남
14      20180401  1135067000         상계5동  0004        0.00  남
15      20180401  1135069500       상계6.7동  0004        0.00  남
16      20180401  1135056000         월계1동  0004        0.00  남
17      20180401  1111071000         숭인2동  0004        0.02  남
18      20180401  1135071000         상계9동  0004        0.00  남
19      20180401  1111069000         창신3동  0004        0.00  남
20      20180401  1135072000        상계10동  0004        0.01  남
21      20180401  1111051500        청운효자동  0004        0.05  남
22      20180401  1111053000          사직동  0004        1.25  남
23      20180401  1111054000          삼청동  0004        0.00  남
24      20180401  1111056000          평창동  0004        0.00  남
25      20180401  1111057000          무악동  0004        0.18  남
26      20180401  1111058000          교남동  0004        0.10  남
27      20180401  1111055000          부암동  0004        0.00  남
28      20180401  1111061500  종로1.2.3.4가동  0004        0.00  남
29      20180401  1111063000      종로5.6가동  0004        0.00  남
...          ...         ...          ...   ...         ... ..
394170  20190331  1135062400         중계4동   70U     1215.73  여
394171  20190331  1135071000         상계9동   70U      649.22  여
394172  20190331  1135063000         상계1동   70U     3179.71  여
394173  20190331  1135064000         상계2동   70U     2192.15  여
394174  20190331  1135066500       상계3.4동   70U     1993.12  여
394175  20190331  1135067000         상계5동   70U      960.11  여
394176  20190331  1135069500       상계6.7동   70U     3614.09  여
394177  20190331  1135070000         상계8동   70U     1263.01  여
394178  20190331  1135058000         월계3동   70U     2803.82  여
394179  20190331  1135062500       중계2.3동   70U     2086.89  여
394180  20190331  1135057000         월계2동   70U     1525.76  여
394181  20190331  1111063000      종로5.6가동   70U     3208.02  여
394182  20190331  1111071000         숭인2동   70U     2915.14  여
394183  20190331  1111051500        청운효자동   70U     1102.50  여
394184  20190331  1111053000          사직동   70U     3458.01  여
394185  20190331  1111054000          삼청동   70U      678.76  여
394186  20190331  1111055000          부암동   70U     1557.51  여
394187  20190331  1111056000          평창동   70U     3840.38  여
394188  20190331  1111057000          무악동   70U      662.63  여
394189  20190331  1111058000          교남동   70U      803.12  여
394190  20190331  1111060000          가회동   70U      462.16  여
394191  20190331  1111061500  종로1.2.3.4가동   70U    11234.28  여
394192  20190331  1111064000          이화동   70U     1730.65  여
394193  20190331  1111065000          혜화동   70U     1577.66  여
394194  20190331  1111067000         창신1동   70U     1861.16  여
394195  20190331  1111068000         창신2동   70U      709.69  여
394196  20190331  1111069000         창신3동   70U      294.35  여
394197  20190331  1111070000         숭인1동   70U      913.94  여
394198  20190331  1135056000         월계1동   70U     2169.15  여
394199  20190331  1135072000        상계10동   70U      794.73  여

[394200 rows x 6 columns]

In [165]:
ppl[:26280].groupby(['STD_YMD',"연령", "HDONG_NM"]).apply(func='cumsum',sortby='population',ascending=False)

ValueError: func must be a callable if args or kwargs are supplied

In [181]:
ppl[:26280].groupby(['STD_YMD',"연령", "HDONG_NM",'HDONG_CD','성']).sum().groupby(level=[0]).cumsum()

                                        population
STD_YMD  연령   HDONG_NM    HDONG_CD   성
20180401 0009 가회동         1111060000 남       37.87
              공릉1동        1135059500 남      442.51
              공릉2동        1135060000 남      919.61
              교남동         1111058000 남      991.67
              무악동         1111057000 남     1031.54
              부암동         1111055000 남     1260.04
              사직동         1111053000 남     1523.83
              삼청동         1111054000 남     1601.90
              상계10동       1135072000 남     1694.16
              상계1동        1135063000 남     2093.89
              상계2동        1135064000 남     2290.10
              상계3.4동      1135066500 남     2443.35
              상계5동        1135067000 남     2529.37
              상계6.7동      1135069500 남     2977.43
              상계8동        1135070000 남     3115.64
              상계9동        1135071000 남     3180.90
              숭인1동        1111070000 남     3220.41
              숭인2동        1111071000 남     3313.00
              월계1동        1135056000 남     3474.02
              월계2동        1135057000 남     3623.02
              월계3동        1135058000 남     3891.78
              이화동         1111064000 남     3997.03
              종로1.2.3.4가동 1111061500 남     4510.65
              종로5.6가동     1111063000 남     4621.25
              중계1동        1135062100 남     4740.11
              중계2.3동      1135062500 남     5011.55
              중계4동        1135062400 남     5133.05
              중계본동        1135061900 남     5224.40
              창신1동        1111067000 남     5305.36
              창신2동        1111068000 남     5319.81
...                                            ...
20190331 0009 사직동         1111053000 남     1518.11
              삼청동         1111054000 남     1591.50
              상계10동       1135072000 남     1675.79
              상계1동        1135063000 남     2048.22
              상계2동        1135064000 남     2210.02
              상계3.4동      1135066500 남     2351.14
              상계5동        1135067000 남     2416.72
              상계6.7동      1135069500 남     2941.99
              상계8동        1135070000 남     3108.38
              상계9동        1135071000 남     3179.55
              숭인1동        1111070000 남     3214.03
              숭인2동        1111071000 남     3342.11
              월계1동        1135056000 남     3480.77
              월계2동        1135057000 남     3590.21
              월계3동        1135058000 남     3869.53
              이화동         1111064000 남     3975.61
              종로1.2.3.4가동 1111061500 남     4604.95
              종로5.6가동     1111063000 남     4764.29
              중계1동        1135062100 남     4899.70
              중계2.3동      1135062500 남     5114.57
              중계4동        1135062400 남     5220.44
              중계본동        1135061900 남     5359.94
              창신1동        1111067000 남     5453.76
              창신2동        1111068000 남     5476.00
              창신3동        1111069000 남     5498.20
              청운효자동       1111051500 남     5616.60
              평창동         1111056000 남     5991.55
              하계1동        1135061100 남     6156.63
              하계2동        1135061200 남     6268.62
              혜화동         1111065000 남     6400.54

[13140 rows x 1 columns]

In [179]:
ppl['연령'][:26280]='0009

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [186]:
ppl[(ppl['HDONG_NM']=='가회동')&(ppl['STD_YMD']==20180401)]

         STD_YMD    HDONG_CD HDONG_NM    연령  population  성
34      20180401  1111060000      가회동  0009        0.00  남
13174   20180401  1111060000      가회동  0009       37.87  남
26314   20180401  1111060000      가회동  1014      196.30  남
39454   20180401  1111060000      가회동  1519      535.94  남
52594   20180401  1111060000      가회동  2024      472.73  남
65734   20180401  1111060000      가회동  2529      893.54  남
78874   20180401  1111060000      가회동  3034      937.81  남
92014   20180401  1111060000      가회동  3539     1051.83  남
105154  20180401  1111060000      가회동  4044      856.70  남
118294  20180401  1111060000      가회동  4549     1095.21  남
131434  20180401  1111060000      가회동  5054      952.35  남
144574  20180401  1111060000      가회동  5559      935.34  남
157714  20180401  1111060000      가회동  6064      905.26  남
170854  20180401  1111060000      가회동  6569      576.97  남
183994  20180401  1111060000      가회동   70U      532.10  남
197134  20180401  1111060000      가회동  0004        0.00  여
210274  20180401  1111060000      가회동  0509       46.75  여
223414  20180401  1111060000      가회동  1014      168.67  여
236554  20180401  1111060000      가회동  1519      326.65  여
249694  20180401  1111060000      가회동  2024      618.57  여
262834  20180401  1111060000      가회동  2529      832.24  여
275974  20180401  1111060000      가회동  3034      729.24  여
289114  20180401  1111060000      가회동  3539      812.86  여
302254  20180401  1111060000      가회동  4044      741.41  여
315394  20180401  1111060000      가회동  4549      824.36  여
328534  20180401  1111060000      가회동  5054      773.96  여
341674  20180401  1111060000      가회동  5559      600.20  여
354814  20180401  1111060000      가회동  6064      496.99  여
367954  20180401  1111060000      가회동  6569      239.37  여
381094  20180401  1111060000      가회동   70U      318.38  여

In [214]:
ppl['연령'][197100:223380]='0009'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [225]:
ppl[197099:223381].groupby(['STD_YMD',"연령", "HDONG_NM",'HDONG_CD','성']).sum().groupby(level=[0]).cumsum().population

STD_YMD   연령    HDONG_NM     HDONG_CD    성
20180401  0009  가회동          1111060000  여      46.75
                공릉1동         1135059500  여     488.64
                공릉2동         1135060000  여    1038.53
                교남동          1111058000  여    1131.61
                무악동          1111057000  여    1185.52
                부암동          1111055000  여    1438.07
                사직동          1111053000  여    1833.16
                삼청동          1111054000  여    1924.16
                상계10동        1135072000  여    2017.86
                상계1동         1135063000  여    2467.50
                상계2동         1135064000  여    2680.57
                상계3.4동       1135066500  여    2876.34
                상계5동         1135067000  여    3002.87
                상계6.7동       1135069500  여    3526.59
                상계8동         1135070000  여    3671.64
                상계9동         1135071000  여    3757.88
                숭인1동         1111070000  여    3799.76
                숭인2동         1111071000  여    3916.63
                월계1동         1135056000  여    4108.91
                월계2동         1135057000  여    4324.46
                월계3동         1135058000  여    4635.05
                이화동          1111064000  여    4760.45
                종로1.2.3.4가동  1111061500  여    5568.15
                종로5.6가동      1111063000  여    5728.74
                중계1동         1135062100  여    5893.85
                중계2.3동       1135062500  여    6244.07
                중계4동         1135062400  여    6385.91
                중계본동         1135061900  여    6509.56
                창신1동         1111067000  여    6612.29
                창신2동         1111068000  여    6629.20
                                               ...
20190331  0009  삼청동          1111054000  여    2019.17
                상계10동        1135072000  여    2122.47
                상계1동         1135063000  여    2581.35
                상계2동         1135064000  여    2781.16
                상계3.4동       1135066500  여    2920.69
                상계5동         1135067000  여    3020.96
                상계6.7동       1135069500  여    3562.74
                상계8동         1135070000  여    3741.38
                상계9동         1135071000  여    3842.22
                숭인1동         1111070000  여    3882.92
                숭인2동         1111071000  여    4031.31
                월계1동         1135056000  여    4181.65
                월계2동         1135057000  여    4297.94
                월계3동         1135058000  여    4625.67
                이화동          1111064000  여    4770.53
                종로1.2.3.4가동  1111061500  여    5694.23
                종로5.6가동      1111063000  여    5887.79
                중계1동         1135062100  여    6043.89
                중계2.3동       1135062500  여    6309.53
                중계4동         1135062400  여    6450.87
                중계본동         1135061900  여    6586.08
                창신1동         1111067000  여    6696.00
                창신2동         1111068000  여    6723.71
                창신3동         1111069000  여    6744.42
                청운효자동        1111051500  여    6880.29
                평창동          1111056000  여    7310.26
                하계1동         1135061100  여    7539.33
                하계2동         1135061200  여    7702.95
                혜화동          1111065000  여    7891.50
          70U   상계10동        1135072000  남    9400.90
Name: population, Length: 13142, dtype: float64

In [238]:
ppl[197099:223381].groupby(['STD_YMD',"연령", "HDONG_NM",'HDONG_CD','성'],group_keys=False).sum().groupby(level=[0]).cumsum()

                                        population
STD_YMD  연령   HDONG_NM    HDONG_CD   성
20180401 0009 가회동         1111060000 여       46.75
              공릉1동        1135059500 여      488.64
              공릉2동        1135060000 여     1038.53
              교남동         1111058000 여     1131.61
              무악동         1111057000 여     1185.52
              부암동         1111055000 여     1438.07
              사직동         1111053000 여     1833.16
              삼청동         1111054000 여     1924.16
              상계10동       1135072000 여     2017.86
              상계1동        1135063000 여     2467.50
              상계2동        1135064000 여     2680.57
              상계3.4동      1135066500 여     2876.34
              상계5동        1135067000 여     3002.87
              상계6.7동      1135069500 여     3526.59
              상계8동        1135070000 여     3671.64
              상계9동        1135071000 여     3757.88
              숭인1동        1111070000 여     3799.76
              숭인2동        1111071000 여     3916.63
              월계1동        1135056000 여     4108.91
              월계2동        1135057000 여     4324.46
              월계3동        1135058000 여     4635.05
              이화동         1111064000 여     4760.45
              종로1.2.3.4가동 1111061500 여     5568.15
              종로5.6가동     1111063000 여     5728.74
              중계1동        1135062100 여     5893.85
              중계2.3동      1135062500 여     6244.07
              중계4동        1135062400 여     6385.91
              중계본동        1135061900 여     6509.56
              창신1동        1111067000 여     6612.29
              창신2동        1111068000 여     6629.20
...                                            ...
20190331 0009 삼청동         1111054000 여     2019.17
              상계10동       1135072000 여     2122.47
              상계1동        1135063000 여     2581.35
              상계2동        1135064000 여     2781.16
              상계3.4동      1135066500 여     2920.69
              상계5동        1135067000 여     3020.96
              상계6.7동      1135069500 여     3562.74
              상계8동        1135070000 여     3741.38
              상계9동        1135071000 여     3842.22
              숭인1동        1111070000 여     3882.92
              숭인2동        1111071000 여     4031.31
              월계1동        1135056000 여     4181.65
              월계2동        1135057000 여     4297.94
              월계3동        1135058000 여     4625.67
              이화동         1111064000 여     4770.53
              종로1.2.3.4가동 1111061500 여     5694.23
              종로5.6가동     1111063000 여     5887.79
              중계1동        1135062100 여     6043.89
              중계2.3동      1135062500 여     6309.53
              중계4동        1135062400 여     6450.87
              중계본동        1135061900 여     6586.08
              창신1동        1111067000 여     6696.00
              창신2동        1111068000 여     6723.71
              창신3동        1111069000 여     6744.42
              청운효자동       1111051500 여     6880.29
              평창동         1111056000 여     7310.26
              하계1동        1135061100 여     7539.33
              하계2동        1135061200 여     7702.95
              혜화동         1111065000 여     7891.50
         70U  상계10동       1135072000 남     9400.90

[13142 rows x 1 columns]

In [234]:
ppl[197099:223381].groupby(['STD_YMD',"연령", "HDONG_NM",'HDONG_CD','성'])['population']=ppl[197099:223381].groupby(['STD_YMD',"연령", "HDONG_NM",'HDONG_CD','성']).sum().groupby(level=[0]).cumsum().population

TypeError: 'DataFrameGroupBy' object does not support item assignment

In [240]:
ppl['연령'].cumsum(axis=1)

ValueError: No axis named 1 for object type <class 'type'>