In [37]:
import pandas as pd
import openpyxl

wb = pd.read_excel('2019빅콘테스트_신한카드소비데이터_레이아웃_최종_190711.xlsx',sheet_name='(참고) 행정동코드',index_col=0)
#sheet = wb['(참고) 행정동코드']
# sheet['B2':'C2']

In [23]:
row_range=sheet['B2':'C2']
for row in row_range:
    print(row.value)

AttributeError: 'tuple' object has no attribute 'value'

In [40]:
header=wb.iloc[0]

In [41]:
header

Unnamed: 1      구코드
Unnamed: 2    행정동코드
Unnamed: 3       구명
Unnamed: 4     행정동명
Name: nan, dtype: object

In [50]:
wb=wb.rename(columns=header)

In [54]:
wb=wb.reset_index(drop=True).drop(0,axis=0)

In [55]:
wb.head()

   구코드 행정동코드   구명   행정동명
1  110   515  종로구  청운효자동
2  110   530  종로구    사직동
3  110   540  종로구    삼청동
4  110   550  종로구    부암동
5  110   560  종로구    평창동