In [17]:
import pandas as pd
import numpy as np
import datetime
import re
y2016['press']='연합뉴스'
# yon2=yon2.drop([1,])
y2016['date']=y2016['date'].astype('str')
y2016=y2016.drop('link',axis=1)
y2016['content'] = y2016['content'].apply(lambda x: re.sub("\w*\@.+",'',x,1))
y2016['content'] = y2016['content'].apply(lambda x: re.sub("\([가-힣].=연합인포맥스\)|\([가-힣].=연합뉴스\)",'',x,1))
y2016['date']=pd.to_datetime(y2016['date'])

In [6]:
y=pd.read_csv("연합뉴스2010_2015ngram.csv")

In [8]:
y=y.drop('Unnamed: 0',axis=1)

In [11]:
y.head()

,press,date,title,content,ngram
0,연합뉴스,2010-01-19,"安교육 ""ICL 학자금 대출금리 인하 노력""","['','','','','','','약대총정원추가증원도검토…내달초까지결정','이윤영...",['이자/NNG;부담/NNG']
1,연합뉴스,2010-01-22,학자금 대출금리 5.7%…0.1%P 인하,"['','','','','','','이윤영기자=교육과학기술부와한국장학재단은올1학기취...",['금리/NNG;인하/NNG']
2,연합뉴스,2010-01-23,<표> 은행 정기예금 금리(22일 기준),"['','','','','(단위:%)','┌────┬─────────────────...",[]
3,연합뉴스,2010-01-21,경남銀 주택담보대출 가산금리 0.20%p 인하,"['','','','',김재홍기자=경남은행(은행장문동성)은주택담보대출상품인`뉴집집마...",['대출/NNG;스프레드/NNG;인하/NNG']
4,연합뉴스,2010-01-20,<코픽스 등장…대출금리 떨어지나>(종합),"['','','','','','','기준금리↑가산금리↓','조재영최현석기자=은행의자...","['높/VA;대출/NNG;금리/NNG;낮/VA', '금리/NNG;서서히/MAG;상승..."

In [16]:
y2016=pd.read_csv("연합뉴스_2016.csv")

In [21]:
from ekonlpy.sentiment import MPCK
def text2ngram(text):
    mpck = MPCK()
    bef_tokens = mpck.tokenize(text)
    ngrams = mpck.ngramize(bef_tokens)
    return ngrams

In [22]:
n_gram=[]
for i in range(1313):
    n_gram.append(text2ngram(y2016['content'][i]))

In [23]:
y2016['ngram']=n_gram

In [25]:
y2016.tail()

,press,date,title,content,ngram
1308,연합뉴스,2016-12-28,은행권 임원 대폭 물갈이…키워드는 '성과주의'(종합),"['','','','','','농협·하나임원교체최대폭…신한도발탁인사','두계단특진에...","[수익성/NNG;악화/NNG, 소비자/NNG;피해/NNG, 금리/NNG;인상/NNG]"
1309,연합뉴스,2016-12-28,실직·입원 때 적격대출도 원금상환 1년 유예된다,"['','','','','','원금상환유예제도,모든정책모기지상품으로확대…혜택대상10...","[유예/NNG;금리/NNG;인하/NNG, 모기지/NNG;확대/NNG, 소득/NNG;..."
1310,연합뉴스,2016-12-30,<신년사> 이병래 한국예탁결제원 사장,"['','','','','',2016년한해가저물고'붉은닭'의해인정유년(丁酉年)의희망...","[금리/NNG;인상/NNG;가계/NNG;부채/NNG;증가/NNG, 경제/NNG;금융..."
1311,연합뉴스,2016-12-31,"트럼프 취임, 獨·佛 정상 결정…새해 일어날 지구촌 대사건","['','','','','',브렉시트첫발·IS락까탈환전·미기준금리인상도'주목',김수...",[미/NNG;금리/NNG;인상/NNG]
1312,연합뉴스,2016-12-31,中 증시 파란의 1년 12%↓…투자자당 530만원 손실,"['','','','','','(상하이=연합뉴스)정주호특파원=파란이거듭됐던중국증권시...","[자본/NNG;유출/NNG;위안/NNG;약세/NNG, 경제/NNG;성장/NNG;금리..."

In [26]:
y2017=pd.read_csv("연합뉴스_2017.csv")
y2017['press']='연합뉴스'
# y2017=y2017.drop([1,])
y2017['date']=y2017['date'].astype('str')
y2017=y2017.drop('link',axis=1)
y2017['content'] = y2017['content'].apply(lambda x: re.sub("\w*\@.+",'',x,1))
y2017['content'] = y2017['content'].apply(lambda x: re.sub("\([가-힣].=연합인포맥스\)|\([가-힣].=연합뉴스\)",'',x,1))
y2017['date']=pd.to_datetime(y2017['date'])

In [29]:
len(y2017['content'])

1211

In [30]:
n_gram=[]
for i in range(1211):
    n_gram.append(text2ngram(y2017['content'][i]))

In [31]:
y2017['ngram']=n_gram

In [37]:
y2016_2017.head()

,press,date,title,content,ngram
0,연합뉴스,2016-01-03,"금융연구원 ""미국 금리인상에 소비자물가가 최대 변수""","['','','','','','','달러강세로신흥국기업채무상환부담커져','노재현기자...","[해지/NNG;fed/NNG;금리/NNG;인상/NNG, 기업/NNG;부채/NNG;상..."
1,연합뉴스,2016-01-09,<표> 은행 정기예금 금리(8일 기준),"['','','','','','','(단위:%)','※KEB하나정기예금금리는1억원이...",[]
2,연합뉴스,2016-01-14,"우리은행, 올해 은행권 첫 예금 금리 인상","['','','','','','','고동욱기자=우리은행은지난12일부터정기예금상품3종...","[금리/NNG;인상/NNG;금리/NNG;오르/VV, 금리/NNG;오르/VV;기대/N..."
3,연합뉴스,2016-01-10,"금융硏 ""미국 금리인상 완만해도 세계경제에 큰 부담""","['','','','','노재현기자=미국이금리를천천히올리더라도세계경제에주는충격이크기...","[fed/NNG;금리/NNG;인상/NNG, 금리/NNG;서서히/MAG;오르/VV, ..."
4,연합뉴스,2016-01-12,"스위스서 ""세금 늦게 내달라""…마이너스 금리의 진풍경","['','','','','','','지방정부,조기납세혜택폐지','김윤구기자=스위스의...","[자국/NNG;통화/NNG;강세/NNG, 금리/NNG;마이너스/NNG, 수출/NNG..."

In [34]:
y2016_2017=y2016.append(y2017)
y2016_2017= y2016_2017.reset_index(drop=True)

In [38]:
y2010_2015=pd.read_csv("연합뉴스2010_2015ngram.csv")

In [41]:
y2010_2015.head()

,press,date,title,content,ngram
0,연합뉴스,2010-01-19,"安교육 ""ICL 학자금 대출금리 인하 노력""","['','','','','','','약대총정원추가증원도검토…내달초까지결정','이윤영...",['이자/NNG;부담/NNG']
1,연합뉴스,2010-01-22,학자금 대출금리 5.7%…0.1%P 인하,"['','','','','','','이윤영기자=교육과학기술부와한국장학재단은올1학기취...",['금리/NNG;인하/NNG']
2,연합뉴스,2010-01-23,<표> 은행 정기예금 금리(22일 기준),"['','','','','(단위:%)','┌────┬─────────────────...",[]
3,연합뉴스,2010-01-21,경남銀 주택담보대출 가산금리 0.20%p 인하,"['','','','',김재홍기자=경남은행(은행장문동성)은주택담보대출상품인`뉴집집마...",['대출/NNG;스프레드/NNG;인하/NNG']
4,연합뉴스,2010-01-20,<코픽스 등장…대출금리 떨어지나>(종합),"['','','','','','','기준금리↑가산금리↓','조재영최현석기자=은행의자...","['높/VA;대출/NNG;금리/NNG;낮/VA', '금리/NNG;서서히/MAG;상승..."

In [40]:
y2010_2015=y2010_2015.drop('Unnamed: 0',axis=1)

In [49]:
y2010_2017=y2010_2015.append(y2016_2017)
y2010_2017=y2010_2017.reset_index(drop=True)

In [52]:
y2010_2017.head()

,press,date,title,content,ngram
0,연합뉴스,2010-01-19,"安교육 ""ICL 학자금 대출금리 인하 노력""","['','','','','','','약대총정원추가증원도검토…내달초까지결정','이윤영...",['이자/NNG;부담/NNG']
1,연합뉴스,2010-01-22,학자금 대출금리 5.7%…0.1%P 인하,"['','','','','','','이윤영기자=교육과학기술부와한국장학재단은올1학기취...",['금리/NNG;인하/NNG']
2,연합뉴스,2010-01-23,<표> 은행 정기예금 금리(22일 기준),"['','','','','(단위:%)','┌────┬─────────────────...",[]
3,연합뉴스,2010-01-21,경남銀 주택담보대출 가산금리 0.20%p 인하,"['','','','',김재홍기자=경남은행(은행장문동성)은주택담보대출상품인`뉴집집마...",['대출/NNG;스프레드/NNG;인하/NNG']
4,연합뉴스,2010-01-20,<코픽스 등장…대출금리 떨어지나>(종합),"['','','','','','','기준금리↑가산금리↓','조재영최현석기자=은행의자...","['높/VA;대출/NNG;금리/NNG;낮/VA', '금리/NNG;서서히/MAG;상승..."

In [48]:
type(y2010_2015['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [47]:
y2010_2015['date']=pd.to_datetime(y2010_2015['date'])

In [53]:
y2005_2007=pd.read_csv("연합뉴스2005-2007.csv")

In [54]:
y2008_2009=pd.read_csv("연합뉴스2008-2009.csv")

In [55]:
y2005_2007['press']='연합뉴스'
y2005_2007['date']=y2005_2007['date'].astype('str')
y2005_2007=y2005_2007.drop('link',axis=1)
y2005_2007['content'] = y2005_2007['content'].apply(lambda x: re.sub("\w*\@.+",'',x,1))
y2005_2007['content'] = y2005_2007['content'].apply(lambda x: re.sub("\([가-힣].=연합인포맥스\)|\([가-힣].=연합뉴스\)",'',x,1))
y2005_2007['date']=pd.to_datetime(y2005_2007['date'])

In [62]:
y2008_2009['press']='연합뉴스'
y2008_2009['date']=y2008_2009['date'].astype('str')
y2008_2009=y2008_2009.drop('link',axis=1)
y2008_2009['content'] = y2008_2009['content'].apply(lambda x: re.sub("\w*\@.+",'',x,1))
y2008_2009['content'] = y2008_2009['content'].apply(lambda x: re.sub("\([가-힣].=연합인포맥스\)|\([가-힣].=연합뉴스\)",'',x,1))
y2008_2009['date']=pd.to_datetime(y2008_2009['date'])

In [68]:
n_gram=[]
for i in range(4432):
    n_gram.append(text2ngram(y2008_2009['content'][i]))
y2008_2009['ngram']=n_gram

In [73]:
y2005_2007.tail()

,press,date,title,content,ngram
5257,연합뉴스,2007-12-31,<FT가 전망한 2008년>,"['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', ' ...","[수익/NNG;전망/NNG;하향/NNG, 경제/NNG;수출/NNG;호조/NNG, 하..."
5258,연합뉴스,2007-12-31,"한국 관련 해외펀드, 자금 유입세로 전환","['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', ' ...","[금리/NNG;인상/NNG, 자금/NNG;이탈/NNG, 경기/NNG;둔화/NNG]"
5259,연합뉴스,2007-12-30,오늘의 주요뉴스 (오후 9시),"['\n\t', '\n\t', '\n\n\t', '\n\n', '\n', '\n\t...",[가격/NNG;인상/NNG]
5260,연합뉴스,2007-12-30,오늘의 주요뉴스 (30일 오전 11:00),"['\n\t', '\n\t', '\n\n\t', '\n\n', '\n', '\n\t...",[]
5261,연합뉴스,2007-12-30,오늘의 주요뉴스 (오후 3시),"['\n\t', '\n\t', '\n\n\t', '\n\n', '\n', '\n\t...","[수출/NNG;경기/NNG;양호/NNG, 경제/NNG;성장/NNG, 가격/NNG;인..."

In [72]:
n_gram=[]
for i in range(5262):
    n_gram.append(text2ngram(y2005_2007['content'][i]))
y2005_2007['ngram']=n_gram
y2005_2007.head()

,press,date,title,content,ngram
0,연합뉴스,2005-01-01,<표> 은행 금전신탁배당률.정기예금 금리(12.31일),"['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t (단위:%...",[]
1,연합뉴스,2005-01-03,<채권> 국고채 물량 부담에 금리 급등,"['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t 김문성기...","[국고채/NNG;발행/NNG;부담/NNG, 채권/NNG;금리/NNG;급등/NNG, ..."
2,연합뉴스,2005-01-02,해외 주식.채권 투자 8조..1년새 104% 급증,"['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t해외투자펀드...","[해외/NNG;증권/NNG;투자/NNG;급증/NNG, 채권/NNG;길/VA]"
3,연합뉴스,2005-01-03,"신용평가 업계 ""심사 및 신용위험 공시 강화""","['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t 김상훈기...",[]
4,연합뉴스,2005-01-06,"한은, 경기상황 유의하는 방향으로 금리정책 운영(2보)","['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t금통위 올해...",[]

In [74]:
y2005_2009=y2005_2007.append(y2008_2009)
y2005_2009=y2005_2009.reset_index(drop=True)
y2005_2017=y2005_2009.append(y2010_2017)
y2005_2017=y2005_2017.reset_index(drop=True)
y2005_2017.to_csv("(완료)연합뉴스2005-2017_ngram.csv")

In [77]:
y2005_2017.to_csv("(완료)연합뉴스2005-2017_ngram.csv")