In [1]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/work/.local/lib/python3.6/site-packages (3.0.5)
Requirement already satisfied: jdcal in /home/work/.local/lib/python3.6/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /home/work/.local/lib/python3.6/site-packages (from openpyxl) (1.0.1)
WARNING: You are using pip version 20.2.3; however, version 20.3.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [2]:
!pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in /home/work/.local/lib/python3.6/site-packages (1.2.0)
WARNING: You are using pip version 20.2.3; however, version 20.3.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [127]:
name_list=['푸드본사점(01월).운영현황.xlsx','푸드본사점(02월).운영현황.xlsx','푸드본사점(03월).운영현황.xlsx','푸드본사점(04월).운영현황.xlsx','푸드본사점(05월).운영현황.xlsx','푸드본사점(06월).운영현황.xlsx','푸드본사점(07월).운영현황.xlsx','푸드본사점(08월).운영현황.xlsx','푸드본사점(09월).운영현황.xlsx','푸드본사점(10월).운영현황.xlsx']

In [289]:
import openpyxl
import pandas as pd
xlsxFile = '푸드본사 운영현황(1~9월).xlsx'
sheetList = []
wb = openpyxl.load_workbook(xlsxFile)
# for i in range(len(wb.sheetnames)):
#     sheetList.append(wb.sheetnames[i])
ppl=[]
for i in range(len(wb.sheetnames)):
    ppl.append(pd.read_excel('푸드본사 운영현황(1~9월).xlsx',index_col=0,sheet_name=wb.sheetnames[i]).iloc[1:33,17:19])
ppl

[                                Unnamed: 18 Unnamed: 19
 회사/일자별 식수 집계표 (19년 9월)
 구분                                     식수일자          중식
 1                       2019-09-01 00:00:00           0
 2                       2019-09-02 00:00:00         314
 3                       2019-09-03 00:00:00         390
 4                       2019-09-04 00:00:00         311
 5                       2019-09-05 00:00:00         280
 6                       2019-09-06 00:00:00         266
 7                       2019-09-07 00:00:00           0
 8                       2019-09-08 00:00:00           0
 9                       2019-09-09 00:00:00         299
 10                      2019-09-10 00:00:00         247
 11                      2019-09-11 00:00:00           0
 12                      2019-09-12 00:00:00           0
 13                      2019-09-13 00:00:00           0
 14                      2019-09-14 00:00:00           0
 15                      2019-09-15 00:00:00           0
 16                      2019-09-16 00:00:00         327
 17                      2019-09-17 00:00:00         313
 18                      2019-09-18 00:00:00         279
 19                      2019-09-19 00:00:00         292
 20                      2019-09-20 00:00:00         279
 21                      2019-09-21 00:00:00           0
 22                      2019-09-22 00:00:00           0
 23                      2019-09-23 00:00:00         353
 24                      2019-09-24 00:00:00         261
 25                      2019-09-25 00:00:00         278
 26                      2019-09-26 00:00:00         285
 27                      2019-09-27 00:00:00         286
 28                      2019-09-28 00:00:00           0
 29                      2019-09-29 00:00:00           0
 30                      2019-09-30 00:00:00         303
 31                                      NaN           0,
                                Unnamed: 18 Unnamed: 19
 회사/일자별 식수 집계표 (19년8월)
 구분                                    식수일자          중식
 1                      2019-08-01 00:00:00         238
 2                      2019-08-02 00:00:00         233
 3                      2019-08-03 00:00:00           0
 4                      2019-08-04 00:00:00           0
 5                      2019-08-05 00:00:00         301
 6                      2019-08-06 00:00:00         353
 7                      2019-08-07 00:00:00         275
 8                      2019-08-08 00:00:00         247
 9                      2019-08-09 00:00:00         247
 10                     2019-08-10 00:00:00           0
 11                     2019-08-11 00:00:00           0
 12                     2019-08-12 00:00:00         300
 13                     2019-08-13 00:00:00         232
 14                     2019-08-14 00:00:00         250
 15                     2019-08-15 00:00:00           0
 16                     2019-08-16 00:00:00           0
 17                     2019-08-17 00:00:00           0
 18                     2019-08-18 00:00:00           0
 19                     2019-08-19 00:00:00         274
 20                     2019-08-20 00:00:00         278
 21                     2019-08-21 00:00:00         273
 22                     2019-08-22 00:00:00         261
 23                     2019-08-23 00:00:00         239
 24                     2019-08-24 00:00:00           0
 25                     2019-08-25 00:00:00           0
 26                     2019-08-26 00:00:00         289
 27                     2019-08-27 00:00:00         261
 28                     2019-08-28 00:00:00         276
 29                     2019-08-29 00:00:00         285
 30                     2019-08-30 00:00:00         226
 31                     2019-08-31 00:00:00           0,
                                Unnamed: 18 Unnamed: 19
 회사/일자별 식수 집계표 (19년7월)
 구분                                    식수일자          중식
 1                      2019-07-01 00:00:00         327
 2                      2019-07-02 00:00:00         346
 3                      2019-07-03 00:00:00         269
 4                      2019-07-04 00:00:00         305
 5                      2019-07-05 00:00:00         243
 6                      2019-07-06 00:00:00           0
 7                      2019-07-07 00:00:00           0
 8                      2019-07-08 00:00:00         339
 9                      2019-07-09 00:00:00         245
 10                     2019-07-10 00:00:00         246
 11                     2019-07-11 00:00:00         267
 12                     2019-07-12 00:00:00         276
 13                     2019-07-13 00:00:00           0
 14                     2019-07-14 00:00:00           0
 15                     2019-07-15 00:00:00         270
 16                     2019-07-16 00:00:00         231
 17                     2019-07-17 00:00:00         268
 18                     2019-07-18 00:00:00         272
 19                     2019-07-19 00:00:00           0
 20                     2019-07-20 00:00:00           0
 21                     2019-07-21 00:00:00           0
 22                     2019-07-22 00:00:00         308
 23                     2019-07-23 00:00:00         277
 24                     2019-07-24 00:00:00         276
 25                     2019-07-25 00:00:00         277
 26                     2019-07-26 00:00:00         278
 27                     2019-07-27 00:00:00           0
 28                     2019-07-28 00:00:00           0
 29                     2019-07-29 00:00:00         304
 30                     2019-07-30 00:00:00         256
 31                     2019-07-31 00:00:00         304,
                                Unnamed: 18 Unnamed: 19
 회사/일자별 식수 집계표 (19년6월)
 구분                                    식수일자          중식
 1                      2019-06-01 00:00:00           0
 2                      2019-06-02 00:00:00           0
 3                      2019-06-03 00:00:00         312
 4                      2019-06-04 00:00:00         391
 5                      2019-06-05 00:00:00         291
 6                      2019-06-06 00:00:00           0
 7                      2019-06-07 00:00:00           0
 8                      2019-06-08 00:00:00           0
 9                      2019-06-09 00:00:00           0
 10                     2019-06-10 00:00:00         355
 11                     2019-06-11 00:00:00         258
 12                     2019-06-12 00:00:00         252
 13                     2019-06-13 00:00:00         279
 14                     2019-06-14 00:00:00         247
 15                     2019-06-15 00:00:00           0
 16                     2019-06-16 00:00:00           0
 17                     2019-06-17 00:00:00         332
 18                     2019-06-18 00:00:00         339
 19                     2019-06-19 00:00:00         283
 20                     2019-06-20 00:00:00         304
 21                     2019-06-21 00:00:00         280
 22                     2019-06-22 00:00:00           0
 23                     2019-06-23 00:00:00           0
 24                     2019-06-24 00:00:00         321
 25                     2019-06-25 00:00:00         273
 26                     2019-06-26 00:00:00         290
 27                     2019-06-27 00:00:00         290
 28                     2019-06-28 00:00:00         217
 29                     2019-06-29 00:00:00           0
 30                     2019-06-30 00:00:00           0
 31                                     NaN           0,
                                Unnamed: 18 Unnamed: 19
 회사/일자별 식수 집계표 (19년5월)
 구분                                    식수일자          중식
 1                      2019-05-01 00:00:00           0
 2                      2019-05-02 00:00:00         343
 3                      2019-05-03 00:00:00         395
 4                      2019-05-04 00:00:00           0
 5                      2019-05-05 00:00:00           0
 6                      2019-05-06 00:00:00           0
 7                      2019-05-07 00:00:00         355
 8                      2019-05-08 00:00:00         288
 9                      2019-05-09 00:00:00         312
 10                     2019-05-10 00:00:00         275
 11                     2019-05-11 00:00:00           0
 12                     2019-05-12 00:00:00           0
 13                     2019-05-13 00:00:00         316
 14                     2019-05-14 00:00:00         316
 15                     2019-05-15 00:00:00         275
 16                     2019-05-16 00:00:00         236
 17                     2019-05-17 00:00:00         287
 18                     2019-05-18 00:00:00           0
 19                     2019-05-19 00:00:00           0
 20                     2019-05-20 00:00:00         333
 21                     2019-05-21 00:00:00         270
 22                     2019-05-22 00:00:00         269
 23                     2019-05-23 00:00:00         288
 24                     2019-05-24 00:00:00         268
 25                     2019-05-25 00:00:00           0
 26                     2019-05-26 00:00:00           0
 27                     2019-05-27 00:00:00         307
 28                     2019-05-28 00:00:00         355
 29                     2019-05-29 00:00:00         281
 30                     2019-05-30 00:00:00         275
 31                     2019-05-31 00:00:00         274,
                                Unnamed: 18 Unnamed: 19
 회사/일자별 식수 집계표 (19년4월)
 구분                                    식수일자          중식
 1                      2019-04-01 00:00:00           0
 2                      2019-04-02 00:00:00         418
 3                      2019-04-03 00:00:00         302
 4                      2019-04-04 00:00:00         274
 5                      2019-04-05 00:00:00         308
 6                      2019-04-06 00:00:00           0
 7                      2019-04-07 00:00:00           0
 8                      2019-04-08 00:00:00         366
 9                      2019-04-09 00:00:00         319
 10                     2019-04-10 00:00:00         309
 11                     2019-04-11 00:00:00         248
 12                     2019-04-12 00:00:00         289
 13                     2019-04-13 00:00:00           0
 14                     2019-04-14 00:00:00           0
 15                     2019-04-15 00:00:00         339
 16                     2019-04-16 00:00:00         262
 17                     2019-04-17 00:00:00         274
 18                     2019-04-18 00:00:00         267
 19                     2019-04-19 00:00:00         277
 20                     2019-04-20 00:00:00           0
 21                     2019-04-21 00:00:00           0
 22                     2019-04-22 00:00:00         331
 23                     2019-04-23 00:00:00         355
 24                     2019-04-24 00:00:00         278
 25                     2019-04-25 00:00:00         279
 26                     2019-04-26 00:00:00         282
 27                     2019-04-27 00:00:00           0
 28                     2019-04-28 00:00:00           0
 29                     2019-04-29 00:00:00         328
 30                     2019-04-30 00:00:00         329
 NaN                                    NaN         NaN,
                                Unnamed: 18 Unnamed: 19
 회사/일자별 식수 집계표 (19년3월)
 구분                                    식수일자          중식
 1                      2019-03-01 00:00:00           0
 2                      2019-03-02 00:00:00           0
 3                      2019-03-03 00:00:00           0
 4                      2019-03-04 00:00:00         431
 5                      2019-03-05 00:00:00         327
 6                      2019-03-06 00:00:00         281
 7                      2019-03-07 00:00:00         255
 8                      2019-03-08 00:00:00         288
 9                      2019-03-09 00:00:00           0
 10                     2019-03-10 00:00:00           0
 11                     2019-03-11 00:00:00         343
 12                     2019-03-12 00:00:00         329
 13                     2019-03-13 00:00:00         295
 14                     2019-03-14 00:00:00         267
 16                     2019-03-15 00:00:00         278
 17                     2019-03-16 00:00:00           0
 18                     2019-03-17 00:00:00           0
 19                     2019-03-18 00:00:00         341
 20                     2019-03-19 00:00:00         323
 21                     2019-03-20 00:00:00         233
 22                     2019-03-21 00:00:00           0
 23                     2019-03-22 00:00:00           0
 24                     2019-03-23 00:00:00           0
 25                     2019-03-24 00:00:00           0
 26                     2019-03-25 00:00:00           0
 27                     2019-03-26 00:00:00           0
 28                     2019-03-27 00:00:00           0
 29                     2019-03-28 00:00:00           0
 30                     2019-03-29 00:00:00           0
 31                     2019-03-30 00:00:00           0
 NaN                    2019-03-31 00:00:00           0,
                                Unnamed: 18 Unnamed: 19
 회사/일자별 식수 집계표 (19년2월)
 구분                                    식수일자          중식
 1                      2019-02-01 00:00:00           0
 2                      2019-02-02 00:00:00           0
 3                      2019-02-03 00:00:00           0
 4                      2019-02-04 00:00:00           0
 5                      2019-02-05 00:00:00           0
 6                      2019-02-06 00:00:00           0
 7                      2019-02-07 00:00:00         331
 8                      2019-02-08 00:00:00         444
 9                      2019-02-09 00:00:00           0
 10                     2019-02-10 00:00:00           0
 11                     2019-02-11 00:00:00         340
 12                     2019-02-12 00:00:00         308
 13                     2019-02-13 00:00:00         321
 14                     2019-02-14 00:00:00         301
 16                     2019-02-15 00:00:00         279
 17                     2019-02-16 00:00:00           0
 18                     2019-02-17 00:00:00           0
 19                     2019-02-18 00:00:00         311
 20                     2019-02-19 00:00:00         299
 21                     2019-02-20 00:00:00         254
 22                     2019-02-21 00:00:00         280
 23                     2019-02-22 00:00:00         288
 24                     2019-02-23 00:00:00           0
 25                     2019-02-24 00:00:00           0
 26                     2019-02-25 00:00:00         335
 27                     2019-02-26 00:00:00         273
 28                     2019-02-27 00:00:00         301
 29                     2019-02-28 00:00:00         237
 30                                     NaN           0
 31                                     NaN           0
 NaN                                    NaN           0,
                                Unnamed: 18 Unnamed: 19
 회사/일자별 식수 집계표 (19년1월)
 구분                                    식수일자          중식
 1                      2019-01-01 00:00:00           0
 2                      2019-01-02 00:00:00         393
 3                      2019-01-03 00:00:00         437
 4                      2019-01-04 00:00:00         359
 5                      2019-01-05 00:00:00           0
 6                      2019-01-06 00:00:00           0
 7                      2019-01-07 00:00:00         358
 8                      2019-01-08 00:00:00         334
 9                      2019-01-09 00:00:00         314
 10                     2019-01-10 00:00:00         321
 11                     2019-01-11 00:00:00         273
 12                     2019-01-12 00:00:00           0
 13                     2019-01-13 00:00:00           0
 14                     2019-01-14 00:00:00         368
 16                     2019-01-15 00:00:00         289
 17                     2019-01-16 00:00:00         302
 18                     2019-01-17 00:00:00         276
 19                     2019-01-18 00:00:00         291
 20                     2019-01-19 00:00:00           0
 21                     2019-01-20 00:00:00           0
 22                     2019-01-21 00:00:00         385
 23                     2019-01-22 00:00:00         359
 24                     2019-01-23 00:00:00         278
 25                     2019-01-24 00:00:00         307
 26                     2019-01-25 00:00:00         287
 27                     2019-01-26 00:00:00           0
 28                     2019-01-27 00:00:00           0
 29                     2019-01-28 00:00:00         363
 30                     2019-01-29 00:00:00         291
 31                     2019-01-30 00:00:00         298
 NaN                    2019-01-31 00:00:00         301]

In [293]:
for i in range(len(ppl)):
    ppl[i].columns=ppl[i].iloc[0,:]
    ppl[i]=ppl[i].iloc[1:,:]

In [294]:
for i in range(1,len(ppl)):
    ppl[0]=pd.concat([ppl[0],ppl[i]])
ppl[0]

구분                   식수일자   중식
1.0   2019-09-01 00:00:00    0
2.0   2019-09-02 00:00:00  314
3.0   2019-09-03 00:00:00  390
4.0   2019-09-04 00:00:00  311
5.0   2019-09-05 00:00:00  280
...                   ...  ...
28.0  2019-01-27 00:00:00    0
29.0  2019-01-28 00:00:00  363
30.0  2019-01-29 00:00:00  291
31.0  2019-01-30 00:00:00  298
NaN   2019-01-31 00:00:00  301

[279 rows x 2 columns]

In [303]:
ppl[0]=ppl[0].rename(columns={'식수일자':'timestamp'})

In [340]:
data=data.sort_values('timestamp')

In [296]:
ppl[0]=ppl[0].reset_index().drop('index',axis=1)

In [308]:
data=ppl[0]

In [153]:
data2=pd.concat([data2,ppl[0]])

In [339]:
data=data.reset_index().drop('index',axis=1)#2019-01-01 - 2020-10-30
data['timestamp']=data['timestamp'].apply(lambda x:pd.to_datetime(x))

In [344]:
data['timestamp']=data['timestamp'].apply(lambda x:pd.to_datetime(x))
data['target_value']=data['target_value'].apply(lambda x: int(x))
data['dayofweek_mean']='.'
data['dayofweek_median']='.'
import calendar
data['weekday']=data['timestamp'].apply(lambda x: calendar.weekday(x.year,x.month,x.day))

In [345]:
def func(total):
    if total['weekday']==0:
        return int(data.groupby(['weekday']).mean().iloc[0,0])
    elif total['weekday']==1: 
        return int(data.groupby(['weekday']).mean().iloc[1,0])
    elif total['weekday']==2: 
        return int(data.groupby(['weekday']).mean().iloc[2,0])
    elif total['weekday']==3: 
        return int(data.groupby(['weekday']).mean().iloc[3,0])
    elif total['weekday']==4: 
        return int(data.groupby(['weekday']).mean().iloc[4,0])
    elif total['weekday']==5: 
        return int(data.groupby(['weekday']).mean().iloc[5,0])
    elif total['weekday']==6: 
        return int(data.groupby(['weekday']).mean().iloc[6,0])
    else:
        return 0
        pass 
    
data.dayofweek_mean=data.apply(func,axis=1)

In [346]:
def func(total):
    if total['weekday']==0:
        return int(data.groupby(['weekday']).median().iloc[0,0])
    elif total['weekday']==1: 
        return int(data.groupby(['weekday']).median().iloc[1,0])
    elif total['weekday']==2: 
        return int(data.groupby(['weekday']).median().iloc[2,0])
    elif total['weekday']==3: 
        return int(data.groupby(['weekday']).median().iloc[3,0])
    elif total['weekday']==4: 
        return int(data.groupby(['weekday']).median().iloc[4,0])
    elif total['weekday']==5: 
        return int(data.groupby(['weekday']).median().iloc[5,0])
    elif total['weekday']==6: 
        return int(data.groupby(['weekday']).median().iloc[6,0])
    else:
        return 0
        pass 
    
data.dayofweek_median=data.apply(func,axis=1)

In [366]:
# 과거 temperature    
from bs4 import BeautifulSoup
import requests
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=108&yy={year}&obs=08&x=32&y=9'.format(year='2018'))  #천안 232 횡성 114 서울 108
soup=BeautifulSoup(bam.text,'html.parser')
content=soup.find_all('td')
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=108&yy={year}&obs=08&x=32&y=9'.format(year='2019'))  
soup=BeautifulSoup(bam.text,'html.parser')
content1=soup.find_all('td')
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=108&yy={year}&obs=08&x=32&y=9'.format(year='2020'))  
soup=BeautifulSoup(bam.text,'html.parser')
content2=soup.find_all('td')
data['temperature']=data['timestamp'].apply(lambda x: content[3+(x.day-1)*13+x.month].text if x.year==2018 else (content1[3+(x.day-1)*13+x.month].text if x.year==2019 else content2[3+(x.day-1)*13+x.month].text ))

import numpy as np
def abnormal(prev):
    try: 
        if (prev['timestamp'].month in [6,7,8]) & (float(prev['temperature'])>=28):
            return 1
        elif (prev['timestamp'].month in [9,10,11]) & (float(prev['temperature'])>=5):
            return 1
        elif (prev['timestamp'].month in [12,1,2]) & (float(prev['temperature'])<=-5):
            return 1
        elif (prev['timestamp'].month in [3,4,5]) & (float(prev['temperature'])<=5):
            return 1
        else:
            return 0
    except:
        prev['temperature']==np.nan
            
data['abnormal']=data.apply(abnormal,axis=1) 

# 과거 강수량   
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=108&yy=2018&obs=21&x=18&y=7')  
soup=BeautifulSoup(bam.text,'html.parser')
content=soup.find_all('td')
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=108&yy=2019&obs=21&x=18&y=7')  
soup=BeautifulSoup(bam.text,'html.parser')
content1=soup.find_all('td')
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=108&yy=2020&obs=21&x=18&y=7')  
soup=BeautifulSoup(bam.text,'html.parser')
content2=soup.find_all('td')
data['rainfall']=data['timestamp'].apply(lambda x: content[3+(x.day-1)*13+x.month].text if x.year==2018 else (content1[3+(x.day-1)*13+x.month].text if x.year==2019 else content2[3+(x.day-1)*13+x.month].text ))
data['rainfall']=data['rainfall'].apply(lambda x: float(x.replace('\xa0','0')))

In [348]:
holiday=[]
date=['01','02','03','04','05','06','07','08','09','10','11','12']
for j in range(2019,2021):
    for i in range(len(date)):
        url='http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?solYear={year}&solMonth={date}&ServiceKey=J%2FYE3sN528TkttbFXsmjXDfVrpZyKNjduV1r%2FcUxAfJ7wHnrjO2F5zzkJx2JvBHsmuNstAVe%2B5n6fS2dNgcKvQ%3D%3D'.format(year=str(j),date=date[i])
        resp=requests.get(url)
        soup=BeautifulSoup(resp.content)
        Text=soup.find_all('locdate')
        for i in range(len(Text)):
            holiday.append(pd.to_datetime(Text[i].text)) 
            
def holiday1(x):
    if (x in holiday)==False:
        return 0
    else:
        return 1
    
from datetime import timedelta    
def before_holiday(data):
    if data['holiday']==1:
        return 0
    elif data['timestamp']+timedelta(days=1) in holiday:
        return 1
    else:
        return 0    

def after_holiday(data):
    if data['holiday']==1:
        return 0
    elif data['timestamp']+timedelta(days=-1) in holiday:
        return 1
    else:
        return 0 
        
data['holiday']=data['timestamp'].apply(lambda x: holiday1(x))
data['before_holiday']=data.apply(before_holiday,axis=1)
data['after_holiday']=data.apply(after_holiday,axis=1)

/usr/local/lib/python3.6/dist-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /usr/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [4]:
data

NameError: name 'data' is not defined

In [368]:
data.to_csv('푸드본사input.csv',index=False)

In [349]:
import openpyxl
import pandas as pd
import pandas as pd
present=pd.read_excel("본사_천안_횡성_김천_출근 내역(2018~2020).xlsx",index_col=0,sheet_name='본사') #.iloc[:32,0:4])

In [350]:
present=present.reset_index()

In [351]:
present=present[(present['WORK_DATE']>='2019-01-01')&(present['WORK_DATE']<='2020-10-31')]

In [352]:
present=present.rename(columns={'WORK_DATE':'timestamp','인원 수':'gate'})

In [353]:
present=present.reset_index().drop('index',axis=1)

In [355]:
data=data.reset_index().drop('index',axis=1)

In [354]:
present.drop('timestamp',axis=1)

     gate
0      14
1     532
2     535
3     526
4      48
..    ...
665   573
666   560
667   564
668   545
669    61

[670 rows x 1 columns]

In [364]:
data

,timestamp,target_value,dayofweek_mean,dayofweek_median,weekday,temperature,abnormal,rainfall,holiday,before_holiday,after_holiday,gate
0,2019-01-01,0,276,297,1,0.1,0,0.0,1,0,0,14
1,2019-01-02,393,246,278,2,0.1,0,0.0,0,0,1,532
2,2019-01-03,437,212,267,3,1.6,0,0.0,0,0,0,535
3,2019-01-04,359,218,250,4,2.7,0,0.0,0,0,0,526
4,2019-01-05,0,0,0,5,3.0,0,0.0,0,0,0,48
...,...,...,...,...,...,...,...,...,...,...,...,...
665,2020-10-27,326,276,297,1,18.5,1,0.0,0,0,0,573
666,2020-10-28,307,246,278,2,19.1,1,0.0,0,0,0,560
667,2020-10-29,0,212,267,3,15.9,1,0.0,0,0,0,564
668,2020-10-30,264,218,250,4,18.1,1,0.0,0,0,0,545
669,2020-10-31,0,0,0,5,17.4,1,0.0,0,0,0,61

In [363]:
data=pd.concat([data,present.drop('timestamp',axis=1)],axis=1)

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
data=pd.read_csv('횡성 input.csv')
y=data[['중식']]
X=data[data.columns.difference(['timestamp','중식','석식','야식','조식'])]
X['rainfall']=X['rainfall'].apply(lambda x: float(x.replace('\xa0','0')))
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X=scaler.fit_transform(X)
y=scaler.fit_transform(y)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1, random_state=2)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(603, 10)
(67, 10)
(603, 1)
(67, 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [2]:
X_train=X_train.reshape((-1,1,10))
X_test=X_test.reshape((-1,1,10))
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(603, 1, 10)
(67, 1, 10)
(603, 1)
(67, 1)

In [6]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras import optimizers
from keras.wrappers.scikit_learn import KerasClassifier
from tensorflow import keras 
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import LSTM, Input, Dense
from tensorflow.keras.layers import Input, Dense, LSTM, Bidirectional, Activation
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

model = Sequential()
model.add(Bidirectional(LSTM(20, return_sequences = False), input_shape = (1,10)))
model.add(Dense(1))
model.add(Activation('softmax'))
adam = optimizers.Adam(lr = 0.01)
model.compile(loss = 'categorical_crossentropy', optimizer = 'adam', metrics = ['accuracy']) 

# model = KerasClassifier(build_fn = bidirectional_lstm, epochs = 200, batch_size = 50, verbose = 2)
model.fit(X_train, y_train,epochs = 200, batch_size = 50, verbose = 2)
y_pred = model.predict(X_test)
y_test_ = np.argmax(y_test, axis = 1)
print(accuracy_score(y_pred, y_test_)) 
RMSE = mean_squared_error(y_test, y_pred)**0.5
RMSE

Epoch 1/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 2/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 3/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 4/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 5/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 6/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 7/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 8/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 9/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 10/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 11/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 12/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 13/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 14/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 15/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 16/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 17/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 18/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 19/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 20/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 21/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 22/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 23/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 24/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 25/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 26/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 27/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 28/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 29/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 30/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 31/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 32/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 33/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 34/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 35/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 36/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 37/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 38/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 39/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 40/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 41/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 42/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 43/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 44/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 45/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 46/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 47/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 48/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 49/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 50/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 51/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 52/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 53/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 54/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 55/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 56/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 57/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 58/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 59/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 60/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 61/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 62/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 63/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 64/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 65/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 66/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 67/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 68/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 69/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 70/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 71/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 72/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 73/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 74/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 75/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 76/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 77/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 78/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 79/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 80/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 81/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 82/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 83/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 84/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 85/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 86/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 87/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 88/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 89/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 90/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 91/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 92/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 93/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 94/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 95/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 96/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 97/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 98/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 99/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 100/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 101/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 102/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 103/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 104/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 105/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 106/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 107/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 108/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 109/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 110/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 111/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 112/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 113/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 114/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 115/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 116/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 117/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 118/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 119/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 120/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 121/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 122/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 123/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 124/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 125/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 126/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 127/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 128/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 129/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 130/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 131/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 132/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 133/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 134/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 135/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 136/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 137/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 138/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 139/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 140/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 141/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 142/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 143/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 144/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 145/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 146/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 147/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 148/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 149/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 150/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 151/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 152/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 153/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 154/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 155/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 156/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 157/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 158/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 159/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 160/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 161/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 162/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 163/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 164/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 165/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 166/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 167/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 168/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 169/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 170/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 171/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 172/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 173/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 174/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 175/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 176/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 177/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 178/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 179/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 180/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 181/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 182/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 183/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 184/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 185/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 186/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 187/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 188/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 189/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 190/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 191/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 192/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 193/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 194/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 195/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 196/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 197/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 198/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 199/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 200/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
0.0

0.5672534841560553

In [12]:
import pandas as pd
data=pd.read_csv('푸드본사input.csv')

In [13]:
data[['timestamp', 'target_value', 'dayofweek_mean', 'dayofweek_median','weekday', 'temperature', 'rainfall', 'holiday','before_holiday', 'after_holiday', 'gate']]

,timestamp,target_value,dayofweek_mean,dayofweek_median,weekday,temperature,rainfall,holiday,before_holiday,after_holiday,gate
0,2019-01-01,0,276,297,1,-0.6,0.0,1,0,0,14
1,2019-01-02,393,246,278,2,0.2,0.0,0,0,1,532
2,2019-01-03,437,212,267,3,3.2,0.0,0,0,0,535
3,2019-01-04,359,218,250,4,4.1,0.0,0,0,0,526
4,2019-01-05,0,0,0,5,1.1,0.0,0,0,0,48
...,...,...,...,...,...,...,...,...,...,...,...
665,2020-10-27,326,276,297,1,19.4,0.0,0,0,0,573
666,2020-10-28,307,246,278,2,18.2,0.0,0,0,0,560
667,2020-10-29,0,212,267,3,16.1,0.0,0,0,0,564
668,2020-10-30,264,218,250,4,19.6,0.0,0,0,0,545
669,2020-10-31,0,0,0,5,18.2,0.0,0,0,0,61

In [14]:
def func(total):
    if total['weekday']==0:
        return 'Mon'
    elif total['weekday']==1: 
        return 'Tue'
    elif total['weekday']==2: 
        return 'Wed'
    elif total['weekday']==3: 
        return 'Thur'
    elif total['weekday']==4: 
        return 'Fri'
    elif total['weekday']==5: 
        return 'Sat'
    elif total['weekday']==6: 
        return 'Sun'
    else:
        return 0
        pass 
    
data['weekday']=data.apply(func,axis=1)

In [15]:
data

,timestamp,target_value,dayofweek_mean,dayofweek_median,weekday,temperature,abnormal,rainfall,holiday,before_holiday,after_holiday,gate,day_sin
0,2019-01-01,0,276,297,Tue,-0.6,0,0.0,1,0,0,14,0.974928
1,2019-01-02,393,246,278,Wed,0.2,0,0.0,0,0,1,532,0.433884
2,2019-01-03,437,212,267,Thur,3.2,0,0.0,0,0,0,535,-0.433884
3,2019-01-04,359,218,250,Fri,4.1,0,0.0,0,0,0,526,-0.974928
4,2019-01-05,0,0,0,Sat,1.1,0,0.0,0,0,0,48,-0.781831
...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,2020-10-27,326,276,297,Tue,19.4,1,0.0,0,0,0,573,0.974928
666,2020-10-28,307,246,278,Wed,18.2,1,0.0,0,0,0,560,0.433884
667,2020-10-29,0,212,267,Thur,16.1,1,0.0,0,0,0,564,-0.433884
668,2020-10-30,264,218,250,Fri,19.6,1,0.0,0,0,0,545,-0.974928
669,2020-10-31,0,0,0,Sat,18.2,1,0.0,0,0,0,61,-0.781831

In [18]:
data.columns

Index(['abnormal', 'after_holiday', 'before_holiday', 'day_sin',
       'dayofweek_mean', 'dayofweek_median', 'gate', 'holiday', 'rainfall',
       'target_value', 'temperature', 'timestamp', 'weekday_Fri',
       'weekday_Mon', 'weekday_Sat', 'weekday_Sun', 'weekday_Thur',
       'weekday_Tue', 'weekday_Wed'],
      dtype='object')