In [8]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 859 kB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8917 sha256=7e80a16ba49dda5cd186f7e442483597812fc0e7bd7af88a77aa8d65e9b47632
  Stored in directory: /home/work/.cache/pip/wheels/ef/92/e0/956c00decf3091294b8800d9104f6169a1adacfaafd122ed42
Successfully built et-xmlfile
Installing collected packages: et-xmlfile, jdcal, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.5
WARNING: You are using pip version 20.2.3; however, version 20.3.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [10]:
!pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 498 kB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
WARNING: You are using pip version 20.2.3; however, version 20.3.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [71]:
import openpyxl
import pandas as pd

xlsxFile = '식수(19.01_20.10).xlsx'
sheetList = []

wb = openpyxl.load_workbook(xlsxFile)
for i in wb.sheetnames:
    sheetList.append(i)

import pandas as pd
ppl=[]
for i in range(len(sheetList)):
    if i%2==0:
        ppl.append(pd.read_excel("식수(19.01_20.10).xlsx",index_col=0,sheet_name=sheetList[i]).iloc[:32,0:4])
ppl

[                    Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 1월 식 수 정 산 (직원+외부)
 날짜                          야식         조식         중식         석식
 2019-01-01 00:00:00         32         12         92         41
 2019-01-02 00:00:00         33         13        164         47
 2019-01-03 00:00:00         35         10        153         46
 2019-01-04 00:00:00         35         16        153         45
 2019-01-05 00:00:00         33          9         52         28
 2019-01-06 00:00:00         10         10         26         26
 2019-01-07 00:00:00         15         11        156         47
 2019-01-08 00:00:00         33         15        153         54
 2019-01-09 00:00:00         33         15        160         42
 2019-01-10 00:00:00         35         16        164         50
 2019-01-11 00:00:00         32         13        144         55
 2019-01-12 00:00:00         26         16         50         21
 2019-01-13 00:00:00          8          8         23         16
 2019-01-14 00:00:00         15         15        164         43
 2019-01-15 00:00:00         33         21        166         45
 2019-01-16 00:00:00         34         16        169         39
 2019-01-17 00:00:00         33         19        156         42
 2019-01-18 00:00:00         33         16        144         51
 2019-01-19 00:00:00         31          8         35         29
 2019-01-20 00:00:00          8          8         23         11
 2019-01-21 00:00:00         15         15        160         39
 2019-01-22 00:00:00         36         14        151         54
 2019-01-23 00:00:00         37         22        145         54
 2019-01-24 00:00:00         39         25        152         45
 2019-01-25 00:00:00         34         23        142         45
 2019-01-26 00:00:00         34         11         40         25
 2019-01-27 00:00:00          8          8         28         16
 2019-01-28 00:00:00         17         15        152         46
 2019-01-29 00:00:00         31         15        148         42
 2019-01-30 00:00:00         34         20        155         48
 2019-01-31 00:00:00         34         16        162         50,
                     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 2월 식 수 정 산 (직원+외부)
 날짜                          야식         조식         중식         석식
 2019-02-01 00:00:00         32         16        135         50
 2019-02-02 00:00:00         31         16         50         27
 2019-02-03 00:00:00         13          9         23         15
 2019-02-04 00:00:00         15         13         55         32
 2019-02-05 00:00:00         20         17         11         10
 2019-02-06 00:00:00         13          8         25         12
 2019-02-07 00:00:00         23         17        160         33
 2019-02-08 00:00:00         30         17        152         56
 2019-02-09 00:00:00         33         15         52         18
 2019-02-10 00:00:00          8          8         18         15
 2019-02-11 00:00:00         15         15        162         48
 2019-02-12 00:00:00         37         20        161         49
 2019-02-13 00:00:00         39         15        172         52
 2019-02-14 00:00:00         38         15        156         48
 2019-02-15 00:00:00         37         16        147         53
 2019-02-16 00:00:00         51         10         38         20
 2019-02-17 00:00:00          8          8         20         14
 2019-02-18 00:00:00         15         15        157         32
 2019-02-19 00:00:00         33         18        156         44
 2019-02-20 00:00:00         34         19        154         35
 2019-02-21 00:00:00         32         20        161         38
 2019-02-22 00:00:00         34         19        153         46
 2019-02-23 00:00:00         29         17         35         13
 2019-02-24 00:00:00          8          8         19         13
 2019-02-25 00:00:00         15         15        176         40
 2019-02-26 00:00:00         36         16        176         40
 2019-02-27 00:00:00         37         20        168         49
 2019-02-28 00:00:00         31         15        170         50
 합계                         747        417       3062        952
 평 균                    26.6786    14.8929    109.357         34
 NaN                        NaN        NaN        NaN        NaN,
                     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 3월 식 수 정 산 (직원+외부)
 날짜                          야식         조식         중식         석식
 2019-03-01 00:00:00         30         12         77         42
 2019-03-02 00:00:00         20          8         40         21
 2019-03-03 00:00:00         10          9         15          9
 2019-03-04 00:00:00         15         15        166         35
 2019-03-05 00:00:00         35         19        155         41
 2019-03-06 00:00:00         36         20        151         45
 2019-03-07 00:00:00         36         19        162         46
 2019-03-08 00:00:00         37         21        154         44
 2019-03-09 00:00:00         30          6         39         12
 2019-03-10 00:00:00          8          8         18         15
 2019-03-11 00:00:00         15         15        164         53
 2019-03-12 00:00:00         35         20        150         45
 2019-03-13 00:00:00         27         21        152         49
 2019-03-14 00:00:00         36         17        162         35
 2019-03-15 00:00:00         37         20        139         50
 2019-03-16 00:00:00         37         16         37         20
 2019-03-17 00:00:00          8          8         19         10
 2019-03-18 00:00:00         15         15        169         31
 2019-03-19 00:00:00         35         21        180         41
 2019-03-20 00:00:00         31         17        161         51
 2019-03-21 00:00:00         35         17        153         43
 2019-03-22 00:00:00         32         16        138         54
 2019-03-23 00:00:00         28         10         55         29
 2019-03-24 00:00:00          8          8         30         25
 2019-03-25 00:00:00         15         15        149         51
 2019-03-26 00:00:00         35         18        161         59
 2019-03-27 00:00:00         49         22        163         53
 2019-03-28 00:00:00         39         27        164         60
 2019-03-29 00:00:00         41         19        165         57
 2019-03-30 00:00:00         37         14         60         33
 2019-03-31 00:00:00         17         17         32         25,
                     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 4월 식 수 정 산 (직원+외부)
 날짜                          야식         조식         중식         석식
 2019-04-01 00:00:00         19         19         98         37
 2019-04-02 00:00:00         28         18        153         50
 2019-04-03 00:00:00         35         20        160         52
 2019-04-04 00:00:00         41         23        147         46
 2019-04-05 00:00:00         43         28        141         50
 2019-04-06 00:00:00         36         16         54         30
 2019-04-07 00:00:00         18         18         31         11
 2019-04-08 00:00:00         18         18        143         42
 2019-04-09 00:00:00         36         20        148         38
 2019-04-10 00:00:00         35         16        152         43
 2019-04-11 00:00:00         38         21        156         52
 2019-04-12 00:00:00         36         14        155         52
 2019-04-13 00:00:00         31         12         44         14
 2019-04-14 00:00:00          8          8         17         15
 2019-04-15 00:00:00         15         15        162         52
 2019-04-16 00:00:00         43         22        151         40
 2019-04-17 00:00:00         42         25        173         54
 2019-04-18 00:00:00         41         26        152         51
 2019-04-19 00:00:00         40         20        156         52
 2019-04-20 00:00:00         35         13         58         24
 2019-04-21 00:00:00         10         10         19          8
 2019-04-22 00:00:00         15         15        164         45
 2019-04-23 00:00:00         30         19        167         35
 2019-04-24 00:00:00         33         16        160         39
 2019-04-25 00:00:00         37         15        154         44
 2019-04-26 00:00:00         35         20        148         46
 2019-04-27 00:00:00         30          7         38         14
 2019-04-28 00:00:00         10         10         21         13
 2019-04-29 00:00:00         15         15        156         42
 2019-04-30 00:00:00         31         15        160         40
 합계                         884        514       3638       1131,
                     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 5월 식 수 정 산 (직원+외부)
 날짜                          야식         조식         중식         석식
 2019-05-01 00:00:00         33         13         70         26
 2019-05-02 00:00:00         25         12        164         41
 2019-05-03 00:00:00         35         18        152         43
 2019-05-04 00:00:00         26         12         42         15
 2019-05-05 00:00:00          8          8         17         11
 2019-05-06 00:00:00         16         16         80         35
 2019-05-07 00:00:00         26         13        165         38
 2019-05-08 00:00:00         35         21        173         39
 2019-05-09 00:00:00         37         20        157         55
 2019-05-10 00:00:00         34          7        146         45
 2019-05-11 00:00:00         33          6         48         25
 2019-05-12 00:00:00         10          8         19         11
 2019-05-13 00:00:00         15         15        156         35
 2019-05-14 00:00:00         33         19        155         56
 2019-05-15 00:00:00         36         25        157         44
 2019-05-16 00:00:00         37         21        176         48
 2019-05-17 00:00:00         37         20        140         43
 2019-05-18 00:00:00         30         12         48         29
 2019-05-19 00:00:00          8          8         19         15
 2019-05-20 00:00:00         14         14        152         42
 2019-05-21 00:00:00         33         18        157         53
 2019-05-22 00:00:00         37         21        156         45
 2019-05-23 00:00:00         38         14        154         53
 2019-05-24 00:00:00         35         16        135         48
 2019-05-25 00:00:00         31          6         34         17
 2019-05-26 00:00:00          8          8         14         11
 2019-05-27 00:00:00         14         14        160         43
 2019-05-28 00:00:00         37         13        165         41
 2019-05-29 00:00:00         40         16        167         40
 2019-05-30 00:00:00         40         13        161         49
 2019-05-31 00:00:00         40         19        150         50,
                     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 6월 식 수 정 산 (직원+외부)
 날짜                          야식         조식         중식         석식
 2019-06-01 00:00:00         30         18         48         21
 2019-06-02 00:00:00          8          8         21         11
 2019-06-03 00:00:00         15         15        174         42
 2019-06-04 00:00:00         36         21        156         49
 2019-06-05 00:00:00         33         18        152         45
 2019-06-06 00:00:00         38         18         81         37
 2019-06-07 00:00:00         36         11        108         43
 2019-06-08 00:00:00         26         19         41         25
 2019-06-09 00:00:00          8          8         20         12
 2019-06-10 00:00:00         16         16        150         32
 2019-06-11 00:00:00         37         24        161         42
 2019-06-12 00:00:00         35         25        157         46
 2019-06-13 00:00:00         37         23        227         47
 2019-06-14 00:00:00         36         26        166         45
 2019-06-15 00:00:00         32         17         40         16
 2019-06-16 00:00:00          8          8         18         12
 2019-06-17 00:00:00         14         14        156         44
 2019-06-18 00:00:00         38         16        157         46
 2019-06-19 00:00:00         36         18        165         51
 2019-06-20 00:00:00         38         17        163         45
 2019-06-21 00:00:00         33         15        150         37
 2019-06-22 00:00:00         39         12         37         17
 2019-06-23 00:00:00          8          8         19         11
 2019-06-24 00:00:00         14         14        161         36
 2019-06-25 00:00:00         36         20        172         43
 2019-06-26 00:00:00         37         22        165         48
 2019-06-27 00:00:00         36         22        162         53
 2019-06-28 00:00:00         36         18        163         47
 2019-06-29 00:00:00         25         18         43         22
 2019-06-30 00:00:00          8          8         19         14
 합계                         829        497       3452       1039,
                     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 7월 식 수 정 산 (직원+외부)
 날짜                          야식         조식         중식         석식
 2019-07-01 00:00:00         16         16        167         49
 2019-07-02 00:00:00         31         18        157         42
 2019-07-03 00:00:00         35         18        168         52
 2019-07-04 00:00:00         35         20        158         34
 2019-07-05 00:00:00         36         23        170         53
 2019-07-06 00:00:00         31         11         38         34
 2019-07-07 00:00:00         10         10         21         12
 2019-07-08 00:00:00         15         15        172         38
 2019-07-09 00:00:00         35         11        169         35
 2019-07-10 00:00:00         37         15        163         33
 2019-07-11 00:00:00         34         17        148         31
 2019-07-12 00:00:00         36         19        139         35
 2019-07-13 00:00:00         28          9         34         15
 2019-07-14 00:00:00          8          8         19         15
 2019-07-15 00:00:00         16         16        154         38
 2019-07-16 00:00:00         32         20        156         53
 2019-07-17 00:00:00         37         14        156         55
 2019-07-18 00:00:00         34         20        163         33
 2019-07-19 00:00:00         33         17        148         47
 2019-07-20 00:00:00         33          8         34         29
 2019-07-21 00:00:00          8          8         16         10
 2019-07-22 00:00:00         16         16        157         32
 2019-07-23 00:00:00         35         23        164         33
 2019-07-24 00:00:00         36         19        162         42
 2019-07-25 00:00:00         37         21        158         50
 2019-07-26 00:00:00         36         23        155         41
 2019-07-27 00:00:00         33         12         37         21
 2019-07-28 00:00:00          8          8         18          9
 2019-07-29 00:00:00         16         16        146         36
 2019-07-30 00:00:00         37         20        152         48
 2019-07-31 00:00:00         36         14        147         43,
                     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 8월 식 수 정 산 (직원+외부)
 날짜                          야식         조식         중식         석식
 2019-08-01 00:00:00         36         12        150         46
 2019-08-02 00:00:00         33         18        141         56
 2019-08-03 00:00:00         33          8         40         19
 2019-08-04 00:00:00          9          9         24         13
 2019-08-05 00:00:00         16         16        151         41
 2019-08-06 00:00:00         34         17        156         46
 2019-08-07 00:00:00         36         23        163         40
 2019-08-08 00:00:00         34         19        156         46
 2019-08-09 00:00:00         33         16        179         44
 2019-08-10 00:00:00         29          5         40         21
 2019-08-11 00:00:00          8          8         16         14
 2019-08-12 00:00:00         16         16        150         43
 2019-08-13 00:00:00         33         16        153         40
 2019-08-14 00:00:00         32         18        148         46
 2019-08-15 00:00:00         34         19         86         33
 2019-08-16 00:00:00         33         18        126         48
 2019-08-17 00:00:00         31          9         40         25
 2019-08-18 00:00:00          8          8         14         11
 2019-08-19 00:00:00         16         16        164         44
 2019-08-20 00:00:00         33          9        162         34
 2019-08-21 00:00:00         35         26        168         45
 2019-08-22 00:00:00         37         19        161         49
 2019-08-23 00:00:00         33         27        142         39
 2019-08-24 00:00:00         32          9         34         20
 2019-08-25 00:00:00          8          8         21         13
 2019-08-26 00:00:00         16         16        156         41
 2019-08-27 00:00:00         32         16        165         39
 2019-08-28 00:00:00         35         16        180         49
 2019-08-29 00:00:00         35         17        166         54
 2019-08-30 00:00:00         40         20        160         50
 2019-08-31 00:00:00         40         20         50         30,
                     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 9월 식 수 정 산 (직원+외부)
 날짜                          야식         조식         중식         석식
 2019-09-01 00:00:00          8          8         18         15
 2019-09-02 00:00:00         16         16        156         37
 2019-09-03 00:00:00         33         19        164         43
 2019-09-04 00:00:00         34         24        153         43
 2019-09-05 00:00:00         36         18        150         45
 2019-09-06 00:00:00         35         20        145         39
 2019-09-07 00:00:00         30          8         35         19
 2019-09-08 00:00:00         10         10         18         13
 2019-09-09 00:00:00         23         23        159         42
 2019-09-10 00:00:00         31         11        154         55
 2019-09-11 00:00:00         30         14        148         44
 2019-09-12 00:00:00         28         13         18          5
 2019-09-13 00:00:00         13         13         20         11
 2019-09-14 00:00:00         16          9         55         40
 2019-09-15 00:00:00         23         11         28         18
 2019-09-16 00:00:00         27         22        163         41
 2019-09-17 00:00:00         31         16        155         50
 2019-09-18 00:00:00         36         24        151         50
 2019-09-19 00:00:00         37         23        160         50
 2019-09-20 00:00:00         36         24        161         50
 2019-09-21 00:00:00         31         13         45         17
 2019-09-22 00:00:00          8          8         18         11
 2019-09-23 00:00:00         16         16        164         31
 2019-09-24 00:00:00         32         20        153         37
 2019-09-25 00:00:00         30         21        158         49
 2019-09-26 00:00:00         32         18        174         46
 2019-09-27 00:00:00         28         19        150         50
 2019-09-28 00:00:00         35         20         50         20
 2019-09-29 00:00:00          8          8         20         10
 2019-09-30 00:00:00         16         16        150         50
 합계                         769        485       3293       1031,
                     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
 10월 식 수 정 산 (직원+외부)
 날짜                          야식         조식         중식         석식
 2019-10-01 00:00:00         37         17        154         47
 2019-10-02 00:00:00         37         16        156         38
 2019-10-03 00:00:00         35         16         92         42
 2019-10-04 00:00:00         34         18        139         48
 2019-10-05 00:00:00         32          9         37         36

In [72]:
for i in range(len(ppl)-1):
    ppl[i].columns=ppl[i].iloc[0,:]
    ppl[i]=ppl[i].iloc[1:,:]

In [73]:
for i in range(1,len(ppl)):
    ppl[0]=pd.concat([ppl[0],ppl[i]])
ppl[0]

날짜          야식  조식   중식  석식
2019-01-01  32  12   92  41
2019-01-02  33  13  164  47
2019-01-03  35  10  153  46
2019-01-04  35  16  153  45
2019-01-05  33   9   52  28
...         ..  ..  ...  ..
2020-10-27  36  20  162  55
2020-10-28  34  19  159  50
2020-10-29  33  16  160  50
2020-10-30  35  20  150  50
2020-10-31  30  10   45  20

[682 rows x 4 columns]

In [76]:
ppl[0]=ppl[0].reset_index()

In [88]:
ppl[0]=ppl[0].drop(ppl[0][ppl[0]['index']=='합계'].index.values)

In [99]:
data=ppl[0]

In [84]:
data=pd.read_csv('횡성 input1.csv')

In [85]:
data['timestamp']=data['timestamp'].apply(lambda x:pd.to_datetime(x))
# data['dayofweek_mean']='.'
# data['dayofweek_median']='.'
# import calendar
# data['weekday']=data['timestamp'].apply(lambda x: calendar.weekday(x.year,x.month,x.day))

In [21]:
data.groupby(['weekday']).mean()

,target_value,day_sin,dayofweek_median,abnormal,holiday,before_holiday,after_holiday
weekday,,,,,,,
0,300.589474,7.818315e-01,310.0,0.410526,0.042105,0.010526,0.021053
1,313.093750,9.749279e-01,319.0,0.416667,0.031250,0.052083,0.031250
2,307.385417,4.338837e-01,317.0,0.406250,0.062500,0.052083,0.020833
3,309.947917,-4.338837e-01,317.0,0.395833,0.062500,0.031250,0.052083
4,284.229167,-9.749279e-01,301.0,0.406250,0.052083,0.020833,0.041667
5,64.536082,-7.818315e-01,59.0,0.412371,0.051546,0.041237,0.020619
6,13.905263,-2.450000e-16,13.0,0.400000,0.042105,0.021053,0.042105

In [56]:
data.groupby(['weekday']).median()
def func(total):
    if total['weekday']==0:
        return 310
    elif total['weekday']==1: 
        return 319
    elif total['weekday']==2: 
        return 317
    elif total['weekday']==3: 
        return 317
    elif total['weekday']==4: 
        return 301
    elif total['weekday']==5: 
        return 59
    elif total['weekday']==6: 
        return 13
    else:
        return 0
        pass 
    
data.dayofweek_median=data.apply(func,axis=1)

In [57]:
data.groupby(['weekday']).mean()
def func(total):
    if total['weekday']==0:
        return 300
    elif total['weekday']==1: 
        return 313
    elif total['weekday']==2: 
        return 307
    elif total['weekday']==3: 
        return 309
    elif total['weekday']==4: 
        return 284
    elif total['weekday']==5: 
        return 64
    elif total['weekday']==6: 
        return 13
    else:
        return 0
        pass 
    
data.dayofweek_mean=data.apply(func,axis=1)

In [86]:
# 과거 temperature    
from bs4 import BeautifulSoup
import requests
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=114&yy={year}&obs=08&x=32&y=9'.format(year='2018'))  #천안 232 횡성 114 서울 108
soup=BeautifulSoup(bam.text,'html.parser')
content=soup.find_all('td')
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=114&yy={year}&obs=08&x=32&y=9'.format(year='2019'))  
soup=BeautifulSoup(bam.text,'html.parser')
content1=soup.find_all('td')
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=114&yy={year}&obs=08&x=32&y=9'.format(year='2020'))  
soup=BeautifulSoup(bam.text,'html.parser')
content2=soup.find_all('td')
data['temperature']=data['timestamp'].apply(lambda x: content[3+(x.day-1)*13+x.month].text if x.year==2018 else (content1[3+(x.day-1)*13+x.month].text if x.year==2019 else content2[3+(x.day-1)*13+x.month].text ))

In [87]:
import numpy as np
def abnormal(prev):
    try: 
        if (prev['timestamp'].month in [6,7,8]) & (float(prev['temperature'])>=28):
            return 1
        elif (prev['timestamp'].month in [9,10,11]) & (float(prev['temperature'])>=5):
            return 1
        elif (prev['timestamp'].month in [12,1,2]) & (float(prev['temperature'])<=-5):
            return 1
        elif (prev['timestamp'].month in [3,4,5]) & (float(prev['temperature'])<=5):
            return 1
        else:
            return 0
    except:
        prev['temperature']==np.nan
            
data['abnormal']=data.apply(abnormal,axis=1)

In [88]:
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=114&yy=2018&obs=21&x=18&y=7')  
soup=BeautifulSoup(bam.text,'html.parser')
content=soup.find_all('td')
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=114&yy=2019&obs=21&x=18&y=7')  
soup=BeautifulSoup(bam.text,'html.parser')
content1=soup.find_all('td')
bam=requests.get('https://www.weather.go.kr/weather/climate/past_table.jsp?stn=114&yy=2020&obs=21&x=18&y=7')  
soup=BeautifulSoup(bam.text,'html.parser')
content2=soup.find_all('td')
data['rainfall']=data['timestamp'].apply(lambda x: content[3+(x.day-1)*13+x.month].text if x.year==2018 else (content1[3+(x.day-1)*13+x.month].text if x.year==2019 else content2[3+(x.day-1)*13+x.month].text ))

In [52]:
holiday=[]
date=['01','02','03','04','05','06','07','08','09','10','11','12']
for j in range(2019,2021):
    for i in range(len(date)):
        url='http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?solYear={year}&solMonth={date}&ServiceKey=J%2FYE3sN528TkttbFXsmjXDfVrpZyKNjduV1r%2FcUxAfJ7wHnrjO2F5zzkJx2JvBHsmuNstAVe%2B5n6fS2dNgcKvQ%3D%3D'.format(year=str(j),date=date[i])
        resp=requests.get(url)
        soup=BeautifulSoup(resp.content)
        Text=soup.find_all('locdate')
        for i in range(len(Text)):
            holiday.append(pd.to_datetime(Text[i].text)) 
            
def holiday1(x):
    if (x in holiday)==False:
        return 0
    else:
        return 1
    
from datetime import timedelta    
def before_holiday(data):
    if data['holiday']==1:
        return 0
    elif data['timestamp']+timedelta(days=1) in holiday:
        return 1
    else:
        return 0    

def after_holiday(data):
    if data['holiday']==1:
        return 0
    elif data['timestamp']+timedelta(days=-1) in holiday:
        return 1
    else:
        return 0 
        
data['holiday']=data['timestamp'].apply(lambda x: holiday1(x))
data['before_holiday']=data.apply(before_holiday,axis=1)
data['after_holiday']=data.apply(after_holiday,axis=1)

/usr/local/lib/python3.6/dist-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /usr/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [89]:
data['rainfall']=data['rainfall'].apply(lambda x: float(x.replace('\xa0','0')))
data.to_csv('횡성input.csv',index=False)

In [1]:
import openpyxl
import pandas as pd
import pandas as pd
present=pd.read_excel("본사_천안_횡성_김천_출근 내역(2018_2020).xlsx",index_col=0,sheet_name='천안') #.iloc[:32,0:4])

In [2]:
present=present.reset_index()

In [4]:
present=present[(present['WORK_DATE']>='2019-01-01')&(present['WORK_DATE']<='2020-10-31')]

In [5]:
present=present.rename(columns={'WORK_DATE':'timestamp','인원 수':'gate'})

In [39]:
present=present.reset_index().drop('index',axis=1)

In [65]:
data=data.reset_index().drop('index',axis=1)

In [67]:
data

,timestamp,target_value,weekday,day_sin,dayofweek_mean,dayofweek_median,temperature,abnormal,rainfall,holiday,before_holiday,after_holiday
0,2019-01-01,107,1,0.974928,313,319,-0.6,0,,1,0,0
1,2019-01-02,306,2,0.433884,307,317,0.2,0,,0,0,1
2,2019-01-03,299,3,-0.433884,309,317,3.2,0,,0,0,0
3,2019-01-04,308,4,-0.974928,284,301,4.1,0,,0,0,0
4,2019-01-05,56,5,-0.781831,64,59,1.1,0,,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
665,2020-10-27,285,1,0.974928,313,319,19.4,1,,0,0,0
666,2020-10-28,280,2,0.433884,307,317,18.2,1,,0,0,0
667,2020-10-29,315,3,-0.433884,309,317,16.1,1,,0,0,0
668,2020-10-30,187,4,-0.974928,284,301,19.6,1,,0,0,0
669,2020-10-31,37,5,-0.781831,64,59,18.2,1,,0,0,0

In [7]:
present.drop('timestamp',axis=1)

     gate
0      94
1     219
2     229
3     211
4      48
..    ...
665   226
666   229
667   216
668   140
669    35

[670 rows x 1 columns]

In [68]:
data=pd.concat([data,present.drop('timestamp',axis=1)],axis=1)

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
data=pd.read_csv('횡성 input.csv')
y=data[['중식']]
X=data[data.columns.difference(['timestamp','중식','석식','야식','조식'])]
X['rainfall']=X['rainfall'].apply(lambda x: float(x.replace('\xa0','0')))
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X=scaler.fit_transform(X)
y=scaler.fit_transform(y)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1, random_state=2)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(603, 10)
(67, 10)
(603, 1)
(67, 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [2]:
X_train=X_train.reshape((-1,1,10))
X_test=X_test.reshape((-1,1,10))
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(603, 1, 10)
(67, 1, 10)
(603, 1)
(67, 1)

In [6]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras import optimizers
from keras.wrappers.scikit_learn import KerasClassifier
from tensorflow import keras 
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import LSTM, Input, Dense
from tensorflow.keras.layers import Input, Dense, LSTM, Bidirectional, Activation
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

model = Sequential()
model.add(Bidirectional(LSTM(20, return_sequences = False), input_shape = (1,10)))
model.add(Dense(1))
model.add(Activation('softmax'))
adam = optimizers.Adam(lr = 0.01)
model.compile(loss = 'categorical_crossentropy', optimizer = 'adam', metrics = ['accuracy']) 

# model = KerasClassifier(build_fn = bidirectional_lstm, epochs = 200, batch_size = 50, verbose = 2)
model.fit(X_train, y_train,epochs = 200, batch_size = 50, verbose = 2)
y_pred = model.predict(X_test)
y_test_ = np.argmax(y_test, axis = 1)
print(accuracy_score(y_pred, y_test_)) 
RMSE = mean_squared_error(y_test, y_pred)**0.5
RMSE

Epoch 1/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 2/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 3/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 4/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 5/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 6/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 7/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 8/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 9/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 10/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 11/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 12/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 13/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 14/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 15/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 16/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 17/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 18/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 19/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 20/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 21/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 22/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 23/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 24/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 25/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 26/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 27/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 28/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 29/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 30/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 31/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 32/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 33/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 34/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 35/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 36/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 37/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 38/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 39/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 40/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 41/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 42/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 43/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 44/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 45/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 46/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 47/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 48/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 49/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 50/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 51/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 52/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 53/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 54/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 55/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 56/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 57/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 58/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 59/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 60/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 61/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 62/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 63/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 64/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 65/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 66/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 67/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 68/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 69/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 70/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 71/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 72/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 73/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 74/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 75/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 76/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 77/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 78/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 79/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 80/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 81/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 82/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 83/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 84/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 85/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 86/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 87/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 88/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 89/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 90/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 91/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 92/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 93/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 94/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 95/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 96/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 97/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 98/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 99/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 100/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 101/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 102/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 103/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 104/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 105/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 106/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 107/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 108/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 109/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 110/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 111/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 112/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 113/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 114/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 115/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 116/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 117/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 118/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 119/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 120/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 121/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 122/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 123/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 124/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 125/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 126/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 127/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 128/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 129/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 130/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 131/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 132/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 133/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 134/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 135/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 136/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 137/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 138/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 139/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 140/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 141/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 142/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 143/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 144/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 145/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 146/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 147/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 148/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 149/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 150/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 151/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 152/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 153/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 154/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 155/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 156/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 157/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 158/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 159/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 160/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 161/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 162/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 163/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 164/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 165/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 166/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 167/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 168/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 169/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 170/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 171/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 172/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 173/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 174/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 175/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 176/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 177/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 178/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 179/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 180/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 181/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 182/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 183/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 184/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 185/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 186/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 187/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 188/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 189/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 190/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 191/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 192/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 193/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 194/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 195/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 196/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 197/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 198/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 199/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
Epoch 200/200
13/13 - 0s - loss: 0.0000e+00 - accuracy: 0.0017
0.0

0.5672534841560553

In [ ]:
pd.read('input2_daysi')